sinhthaihcm/2025/10/4rRWvsQyKDW6Ye1X.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MBWD ERPNext": {
      "main": [
        [
          {
            "node": "Lấy Main Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Lấy đơn hàng trong ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Tìm kiếm nhân viên sale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu có tồn": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Add] Chuyển đổi dữ liệu": {
      "main": [
        [
          {
            "node": "Kiểm tra danh mục Routing Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data Info": {
      "main": [
        [
          {
            "node": "Write Logs To ERPNEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync Item Status Success": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thêm mới Đơn Hàng": {
      "main": [
        [
          {
            "node": "Nếu trả trước tạo phiếu thu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sync Order Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy đơn hàng trong ERPNext": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu có tồn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy danh sách kho hàng": {
      "main": [
        [
          {
            "node": "Lấy danh sách VAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Add] Chuyển đổi dữ liệu Log": {
      "main": [
        [
          {
            "node": "Update Sync Item Status Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync Order Status Error": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tìm kiếm nhân viên sale": {
      "main": [
        [
          {
            "node": "Tìm kiếm khách hàng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nếu trả trước tạo phiếu thu": {
      "main": [
        [
          {
            "node": "Get Mode of Payment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Add] Chuyển đổi dữ liệu Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Payment Entry (Sale Order)": {
      "main": [
        [
          {
            "node": "[Add] Chuyển đổi dữ liệu Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy danh sách VAT": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra danh mục Promotion Campaign": {
      "main": [
        [
          {
            "node": "Kiểm tra Promotion Campaign tồn tại?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Add] Lấy danh sách CTKM": {
      "main": [
        [
          {
            "node": "Loop Over Promotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Promotion": {
      "main": [
        [
          {
            "node": "Thêm mới Đơn Hàng",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kiểm tra danh mục Promotion Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra Promotion Campaign tồn tại?": {
      "main": [
        [
          {
            "node": "Nếu chưa có",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nếu chưa có": {
      "main": [
        [
          {
            "node": "Pending Add Promotion Campign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thêm mới Promotion Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thêm mới Promotion Campaign": {
      "main": [
        [
          {
            "node": "Pending Add Promotion Campign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending Add Promotion Campign": {
      "main": [
        [
          {
            "node": "Loop Over Promotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra danh mục Routing Sales": {
      "main": [
        [
          {
            "node": "Kiểm tra Routing Sales tồn tại?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra Routing Sales tồn tại?": {
      "main": [
        [
          {
            "node": "Nếu chưa có Router Sale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thêm mới Router Sale": {
      "main": [
        [
          {
            "node": "[Add] Lấy danh sách CTKM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nếu chưa có Router Sale": {
      "main": [
        [
          {
            "node": "[Add] Lấy danh sách CTKM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thêm mới Router Sale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tìm kiếm khách hàng": {
      "main": [
        [
          {
            "node": "[Add] Chuyển đổi dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Main Company": {
      "main": [
        [
          {
            "node": "Lấy danh sách kho hàng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mode of Payment": {
      "main": [
        [
          {
            "node": "Create Payment Entry (Sale Order)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-20T14:20:03.474Z",
  "id": "4rRWvsQyKDW6Ye1X",
  "isArchived": false,
  "meta": null,
  "name": "[ERPNext] Cập nhật dữ liệu Đơn đặt hàng từ Queue sang Sale Order",
  "nodes": [
    {
      "parameters": {},
      "id": "201fdc18-4463-495c-ac78-e00e9829983d",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -4336,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "c5bf2f9a-6548-437e-adda-c22b64d0fda2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -4336,
        448
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "fields": "reference_doctype,reference_name,operation,payload,name",
        "filters": {
          "filter": [
            {
              "field": "source_data",
              "value": "MBW DMS"
            },
            {
              "field": "status",
              "operator": "in",
              "value": "Pending"
            },
            {
              "field": "reference_doctype",
              "value": "Sale Order"
            }
          ]
        }
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -3952,
        352
      ],
      "id": "5c8d2339-414f-4887-a488-7aa41a7007d3",
      "name": "MBWD ERPNext",
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Biến một mảng trong 1 item thành nhiều item riêng\nfunction safeParse(value) {\n  if (typeof value !== 'string') return value;\n  const s = value?.trim?.() ?? '';\n  if (!s || (s[0] !== '{' && s[0] !== '[')) return value;\n  try { return JSON.parse(s); } catch { return value; }\n}\n\nconst all =  $items(\"MBWD ERPNext\", 0, 0);\nlet records;\n\n// 1) Trường hợp API trả về mảng ngay ở root\nif (Array.isArray(all[0]?.json)) {\n  records = all[0].json;\n\n// 2) Hoặc gói trong thuộc tính data\n} else if (Array.isArray(all[0]?.json?.data)) {\n  records = all[0].json.data;\n\n// 3) Hoặc đã là nhiều item sẵn\n} else {\n  records = all.map(i => i.json);\n}\n\n// Nếu mỗi record có trường payload dạng string → parse sang object (không bắt buộc)\nreturn records.map(r => {\n  const parsed = ('payload' in r) ? safeParse(r.payload) : r.payload;\n  return { json: { ...r, payload: parsed } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3200,
        352
      ],
      "id": "fe36eff0-688a-42cf-bc33-b129aeb9c594",
      "name": "Split"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2944,
        352
      ],
      "id": "126860bd-6a18-47bd-b682-d5faaddc95fb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        720
      ],
      "id": "5acd17d5-4e99-4908-9f51-226365ff58a0",
      "name": "Wait",
      "webhookId": "409f450b-8c1c-42db-b4c1-970930a96609"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2336,
        272
      ],
      "id": "e7640ca1-fbbb-4a52-9f58-5a5b590d93fb",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Lấy đơn hàng trong ERPNext'); \n\n// Kiểm tra xem item đầu tiên có field name không\nconst first = arr[0]?.json || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,   // true nếu có giá trị name\n    existed_name: first.name || null,\n    data: arr[0]?.json || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        272
      ],
      "id": "296898e2-f0b6-4dff-8f64-03e1dd48cf82",
      "name": "Kiểm tra xem dữ liệu có tồn"
    },
    {
      "parameters": {
        "jsCode": "// ===== Lấy dữ liệu từ node \"Loop Over Items\" =====\nconst cur = $('Loop Over Items').item.json;\nconst p = cur.payload || {};\n// ✅ Lấy thông tin tuyến (nếu có)\nconst route = p.tuyen?.viewData || \"\";\nconst routeId = p.tuyen?.code || \"\";\n// ===== Lấy map kho từ node \"ERPNext Warehouses\" =====\nconst warehouses = $('Lấy danh sách kho hàng').item.json;\n\n// ===== Lấy danh sách VAT từ node \"Lấy danh sách VAT\" =====\nconst vatList = $('Lấy danh sách VAT').item.json || [];\n// Lấy công ty chính\nlet mainCompanyData = $('Lấy Main Company').item.json || [];\nif (Array.isArray(mainCompanyData[0])) mainCompanyData = mainCompanyData[0];\nconst mainCompany = Array.isArray(mainCompanyData) && mainCompanyData.length > 0 ? mainCompanyData[0] : null;\n\n\n// --------------------\n// Hàm tìm kho theo custom_warehouse_code\n// --------------------\nfunction findWarehouseName(code) {\n  if (!code) return null;\n  const w = warehouses.find(w => w.custom_warehouse_code === code);\n  return w ? w.name : null;\n}\n// ===== Hàm tìm kho theo mã code =====\nfunction findWarehouseFullData(code) {\n  if (!code) return null;\n  return warehouses.find(w => \n    w.name?.trim() === code.trim() ||\n    w.custom_warehouse_code?.trim() === code.trim()\n  );\n}\n// --------------------\n// Hàm tìm tên/ID VAT theo mã VAT (hoặc phần trăm VAT)\n// --------------------\nfunction findVatAccount(vatValue) {\n  if (!vatValue) return null;\n  // ví dụ: vatValue = 8 → tìm trong custom_vat_rate = 8 hoặc name = \"VAT 8%\"\n  const v = vatList.find(v =>\n    v.custom_vat_rate === Number(vatValue) ||\n    v.name?.includes(`${vatValue}`) ||\n    v.title?.includes(`${vatValue}`)\n  );\n  return v ? v.name : null;\n}\n\n// --------------------\n// Hàm format ngày về \"YYYY-MM-DD\" (GMT+7)\n// --------------------\nfunction formatDate(dateStr) {\n  if (!dateStr) return null;\n  try {\n    const d = new Date(dateStr);\n    if (isNaN(d.getTime())) return null;\n    // Cộng thêm 7 tiếng (7 * 60 * 60 * 1000 ms)\n    const vnTime = new Date(d.getTime() + 7 * 60 * 60 * 1000);\n    return vnTime.toISOString().split('T')[0];\n  } catch {\n    return null;\n  }\n}\n\n// --------------------\n// 1. Chuẩn hoá danh sách sản phẩm\n// --------------------\nconst mainProducts = Array.isArray(p.san_pham) ? p.san_pham : [];\nconst promoProducts = Array.isArray(p.san_pham_km) ? p.san_pham_km : [];\npromoProducts.forEach(sp => sp.is_km = true);\nconst products = [...mainProducts, ...promoProducts];\n\nconst allProducts = products.map(sp => ({\n  item_code: (sp.ma_sp || sp.ma_sp_km || \"\").trim(),\n  item_name: (sp.ten_sp || sp.ten_sp_km || \"\").trim(),\n  warehouse: (sp.ma_kho_xuat || sp.ma_kho_xuat_km || \"\").trim(),\n  qty: Number(sp.so_luong || sp.so_luong_km || 0),\n  rate: sp.is_km ? 0 : Number(sp.don_gia || 0),\n  amount: sp.is_km ? 0 : Number(sp.thanh_tien || 0),\n  discount_amount: Number(sp.chiet_khau || 0),\n  discount_npp: Number(sp.chiet_khau_npp || 0),\n  vat_rate: Number(sp.vat || sp.vat_sp || 0),\n  vat_account: findVatAccount(Number(sp.vat || sp.vat_sp || 0)), // ✅ Gắn tên VAT từ ERPNext\n  note: (sp.ghi_chu || sp.ghi_chu_km || \"\").trim(),\n  is_promotion: !!sp.is_km,\n  promotion_code: (sp.ctkm || \"\").trim()\n}));\n// 4. Tính tổng chiết khấu từ danh sách sản phẩm\n// --------------------\nconst totalItemDiscount = allProducts.reduce((sum, item) => {\n  return sum + (Number(item.discount_amount) || 0);\n}, 0);\n// --------------------\n// 2. Chuẩn hoá thông tin đơn hàng\n// --------------------\nconst saleOrder = {\n  reference_doctype: cur.reference_doctype || \"Sale Order\",\n  reference_name: cur.reference_name || \"\",\n  operation: cur.operation || \"Create\",\n  name: cur.name || \"\",\n  order_code: (p.ma_phieu || \"\").trim(),\n  customer_code: (p.ma_kh || \"\").trim(),\n  customer_name: (p.ten_kh || \"\").trim(),\n  phone: (p.sdt || \"\").trim(),\n  address: (p.dia_chi || \"\").trim(),\n  ma_nhom:(p.ma_nhom || \"\").trim(),\n  order_status: \"To Deliver and Bill\",\n  order_date: formatDate(p.ngay_dat),\n\n  total_amount: Number(p.tong_tien_hang || 0),\n  total_tax: Number(p.tong_tien_vat || 0),\n  order_discount: Number(p.ck_don_hang || 0),\n  grand_total: Number(p.phai_thanh_toan || 0),\n\n  // 💰 Debit (thanh toán trước)\n  debit: Number(p.thanh_toan_truoc || p.debit || p.tra_truoc || 0),\n\n  customer_group_code: (p.ma_nhom || \"\").trim(),\n  customer_group_name: (p.ten_nhom || \"\").trim(),\n\n  order_by: (p.ten_nguoi_dat || \"\").trim(),\n  approved_by: (p.nguoi_duyet || \"\").trim(),\n  approval_date: formatDate(p.ngay_duyet),\n\n  created_by: (p.nguoi_tao || \"\").trim(),\n  created_at: formatDate(p.ngay_tao),\n  updated_by: (p.nguoi_sua || \"\").trim(),\n  updated_at: formatDate(p.ngay_sua),\n\n  invoice_address: (p.dia_chi_xuat_hoa_don || \"\").trim(),\n  invoice_code: (p.ma_xuat_hoa_don || \"\").trim(),\n  tax_code: (p.ma_so_thue || \"\").trim(),\n  cccd: (p.cccd || \"\").trim(),\n  thue15: Number(p.thue15 || 0),\n  invoice_name: (p.ten_xuat_hoa_don || \"\").trim()\n};\n\n// ✅ Lấy thông tin kho của sản phẩm đầu tiên (nếu có)\nlet firstWarehouseInfo = null;\nif (allProducts.length > 0) {\n  const first = allProducts[0];\n  firstWarehouseInfo = findWarehouseFullData(first.warehouse);\n}\nif (mainCompany && firstWarehouseInfo) {\n\n  if (firstWarehouseInfo.company.trim() !== mainCompany.name.trim()\n  ) {\n    saleOrder.company = firstWarehouseInfo.company;\n  }\n}\n// --------------------\n// 3. Chuẩn hoá custom_promotion từ p.promotion\n// --------------------\nconst promotions = [];\nif (Array.isArray(p.promotion)) {\n  for (const km of p.promotion) {\n    for (const pr of km.product || []) {\n      promotions.push({\n        promotion_code: km.id || \"\",\n        promotion_campaign: km.id || \"\",\n        promotion_name: km.ten_khuyen_mai || \"\",\n        promotion_type: km.ptype?.value || \"\",\n        item_code: pr.ma_san_pham || \"\",\n        item_name: pr.ten_san_pham || \"\",\n        promo_qty: Number(pr.so_luong) || 0,\n        uom: pr.don_vi_tinh?.viewData || \"\",\n        discount_amount: 0\n      });\n    }\n  }\n}\n\n// --------------------\n// 5. Ghép lại payload cho ERPNext\n// --------------------\nconst erpNextPayload = {\n  docstatus: 1,\n  doctype: \"Sales Order\",\n  naming_series: \"SO-.YYYY.-\",\n  sales_person:\n    $('Tìm kiếm nhân viên sale').first().json['0'].employee_name + \"_\" +\n   $('Tìm kiếm nhân viên sale').first().json['0'].name ,\n  transaction_date: saleOrder.order_date,\n  delivery_date: saleOrder.order_date,\n\n  order_type: \"Sales\",\n  status: saleOrder.order_status,\n\n  ignore_pricing_rule: true,\n  custom_router_code:routeId,\n  routing_sales:p.tuyen?.code || \"\",\n  custom_router:route,\n  customer: saleOrder.customer_code,\n  custom_customer_code: saleOrder.customer_code,\n  custom_sales_order_dms_id: saleOrder.order_code,\n  custom_customer_group_code: saleOrder.customer_group_code,\n  custom_customer_group_name: saleOrder.customer_group_name,\n\tcompany:saleOrder.company,\n  contact_mobile: saleOrder.phone,\n  contact_address: saleOrder.address,\n\n  custom_order_by: saleOrder.order_by,\n  custom_approved_by: saleOrder.approved_by,\n  custom_approval_date: saleOrder.approval_date,\n\n  custom_created_by: saleOrder.created_by,\n  custom_created_at: saleOrder.created_at,\n  custom_updated_by: saleOrder.updated_by,\n  custom_updated_at: saleOrder.updated_at,\n  custom_departments_employee_dms:saleOrder.ma_nhom,\n\n  custom_invoice_address: saleOrder.invoice_address,\n  custom_customer_billing_code: saleOrder.invoice_code,\n  custom_tax_code: saleOrder.tax_code,\n  custom_personal_id_number: saleOrder.cccd,\n  custom_customer_billing_name: saleOrder.invoice_name,\n  territory:$input.first().json['0'].territory ,\n  total: saleOrder.total_amount,\n  total_taxes_and_charges: saleOrder.total_tax,\n  // ✅ Cộng tổng chiết khấu item vào chiết khấu đơn hàng\n  discount_amount: saleOrder.order_discount + totalItemDiscount,\n  grand_total: saleOrder.grand_total,\n\n  // 💵 Mapping thêm field debit\n  custom_debit: saleOrder.debit,\n// ✅ Thêm tổng chiết khấu sản phẩm (mới)\n  custom_item_discount_amount: totalItemDiscount,\n  custom_order_discount_amount:saleOrder.order_discount,\n  // ✅ Danh sách sản phẩm có VAT\n  items: allProducts.map(item => {\n    const base = {\n      item_code: item.item_code,\n      item_name: item.item_name,\n      warehouse: findWarehouseName(item.warehouse),\n      qty: item.qty,\n      rate: item.rate,\n      amount: item.amount,\n      custom_dms_discount_amount: item.discount_amount,\n      is_free_item: item.is_promotion ? 1 : 0,\n      custom_promotion_code: item.promotion_code,\n      custom_vat_rate: item.vat_rate,\n      item_tax_template: item.vat_account, // ✅ Gắn VAT từ ERPNext\n      description: item.note\n    };\n    if (item.is_promotion) base.price_list_rate = 0;\n    return base;\n  }),\n\n  custom_promotion: promotions\n};\n\n// --------------------\n// 6. Trả dữ liệu ra ngoài\n// --------------------\nreturn { json: erpNextPayload };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        288
      ],
      "id": "fd1278e5-f27c-4fc2-aa63-51b0a1094106",
      "name": "[Add] Chuyển đổi dữ liệu"
    },
    {
      "parameters": {
        "doctype": "MBWNext Integration Logs",
        "operation": "create",
        "parameters": "={\n  \"sync_type\": \"Item\",\n  \"records_processed\": \"{{ $items().length }}\",\n  \"status\": \"Success\",\n  \"log_message\": \"\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -2544,
        48
      ],
      "id": "568eba84-5660-41c4-ae92-f934171b8830",
      "name": "Write Logs To ERPNEXT",
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "inner"
      },
      "name": "Merge Data Info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -2736,
        48
      ],
      "id": "5e68fa51-1931-4459-9eb9-734923421f6d"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "update",
        "parameters": "={\"status\":\"Success\"}",
        "recordId": "={{ $('Loop Over Items').item.json.name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        224,
        96
      ],
      "id": "b4eee11b-002b-4e6b-8647-08d9870adf7a",
      "name": "Update Sync Item Status Success",
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Sales Order",
        "operation": "create",
        "parameters": "={{ JSON.stringify($node[\"[Add] Chuyển đổi dữ liệu\"].json) }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -928,
        352
      ],
      "id": "69d9bc5e-11d1-4458-b8d6-2f1f3ca02ec2",
      "name": "Thêm mới Đơn Hàng",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "doctype": "Sales Order",
        "operation": "find",
        "query": "={\n  \"filters\": [\n    [\"custom_sales_order_dms_id\", \"=\", \"{{ $json.payload.ma_phieu }}\"]\n  ]\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -2736,
        272
      ],
      "id": "b942cc19-aadb-4248-9739-aa647a7c9098",
      "name": "Lấy đơn hàng trong ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Warehouse",
        "fields": "name,custom_warehouse_code,company"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -3552,
        352
      ],
      "id": "d9fae040-c176-4f0b-8faf-044334d4a33b",
      "name": "Lấy danh sách kho hàng",
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== Lấy dữ liệu từ node \"Loop Over Items\" =====\nconst cur = $('[Add] Chuyển đổi dữ liệu').item.json;\n\n\n// Kiểm tra xem có mảng address không\nif (!cur || !Array.isArray(cur.address)) {\n  return [];\n}\n\n// Trả về từng địa chỉ như một item riêng\nreturn cur.address.map(addr => ({ json: addr }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        240
      ],
      "id": "d8d2fe56-5d86-4b94-8725-f97a9e1a405b",
      "name": "[Add] Chuyển đổi dữ liệu Log",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "update",
        "parameters": "={\"status\":\"Failed\"}",
        "recordId": "={{ $('Loop Over Items').item.json.name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -16,
        432
      ],
      "id": "9f701e7f-6f23-498d-a1ee-464d9bc5ff71",
      "name": "Update Sync Order Status Error",
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Employee",
        "operation": "find",
        "query": "={\n  \"filters\": [\n    [\"employee_name\", \"=\", \"{{ $('Loop Over Items').item.json.payload.ten_nguoi_dat }}\"]\n  ]\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -2128,
        288
      ],
      "id": "20574723-714d-4eae-b066-4fc294f9389c",
      "name": "Tìm kiếm nhân viên sale",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $('[Add] Chuyển đổi dữ liệu').item.json.custom_debit }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "8fa6310e-7fc5-47b5-9df3-426bfeda34fc",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        224
      ],
      "id": "9d63d3cc-6650-4773-9489-7be84d68f61d",
      "name": "Nếu trả trước tạo phiếu thu",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "Payment Entry",
        "operation": "create",
        "parameters": "={\n  \"payment_type\": \"Receive\",\n  \"party_type\": \"Customer\",\n  \"party\": \"{{ $('Thêm mới Đơn Hàng').item.json.customer }}\",\n  \"party_name\": \"{{ $('Thêm mới Đơn Hàng').item.json.customer_name }}\",\n  \"paid_amount\": {{ $('[Add] Chuyển đổi dữ liệu').item.json.custom_debit }},\n   \"received_amount\": {{ $('[Add] Chuyển đổi dữ liệu').item.json.custom_debit }},\n  \"paid_to\": \"{{ $('Get Mode of Payment').item.json.accounts[0].default_account }}\",\n  \"paid_to_account_currency\": \"VND\",\n  \"mode_of_payment\":\"Cash\",\n  \"docstatus\": 0,\n  \"references\": [\n    {\n      \"reference_doctype\": \"Sales Order\",\n      \"reference_name\": \"{{ $('Thêm mới Đơn Hàng').item.json.name }}\",\n      \"doctype\": \"Payment Entry Reference\",\n      \"allocated_amount\": {{ $('[Add] Chuyển đổi dữ liệu').item.json.custom_debit }}\n    }\n  ]\n}\n"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -272,
        32
      ],
      "id": "027d71ae-92c6-47ed-9218-cca751fa727e",
      "name": "Create Payment Entry (Sale Order)",
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Item Tax Template",
        "operation": "find",
        "query": "{\n  \"fields\": [\n    \"name\",\"title\",\n    \"`tabItem Tax Template Detail`.tax_rate\"\n  ]\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -3360,
        352
      ],
      "id": "bc02598d-8355-48af-ad15-65e612b1cbe0",
      "name": "Lấy danh sách VAT",
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Promotion Campaign",
        "operation": "find",
        "query": "={\n  \"filters\": [\n    [\"promotion_code\", \"=\", \"{{ $json.promotion_code }}\"]\n  ]\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -928,
        672
      ],
      "id": "9acf08a1-ab6d-4ed3-8a1b-128a3dfc0ee7",
      "name": "Kiểm tra danh mục Promotion Campaign",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===== Lấy dữ liệu từ node \"Loop Over Items\" =====\nconst cur = $('[Add] Chuyển đổi dữ liệu').item.json;\nreturn (cur.custom_promotion || []).map(x => ({ json: x }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        496
      ],
      "id": "bb93a5c3-a28b-47c2-8114-5143196ea955",
      "name": "[Add] Lấy danh sách CTKM",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1264,
        496
      ],
      "id": "1f204346-20ea-4f85-8284-34356ef41207",
      "name": "Loop Over Promotion"
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Kiểm tra danh mục Promotion Campaign'); \n\n// nếu không có item nào -> trả false\nif (!Array.isArray(arr) || arr.length === 0) {\n  return [{ json: { exists: false, existed_name: null, data: null } }];\n}\n\n// lấy json của item đầu\nlet json0 = arr[0]?.json;\n\n// nếu json0 là một mảng (vd: [[{...}]]) -> lấy phần tử đầu bên trong\nif (Array.isArray(json0) && json0.length > 0) {\n  json0 = json0[0];\n}\n\n// nếu json0 là object nhưng có thêm trường data chứa mảng -> unwrap\nif (json0 && Array.isArray(json0.data) && json0.data.length > 0) {\n  json0 = json0.data[0];\n}\n\n// bây giờ json0 là object đầu tiên (nếu có)\nconst first = json0 || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,              // true nếu tồn tại name\n    existed_name: first.name || null,  // trả tên nếu có\n    data: first || null                // trả object (không trả mảng)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        672
      ],
      "id": "7b9f4bdb-8a54-48cf-9230-576a0fcce6e3",
      "name": "Kiểm tra Promotion Campaign tồn tại?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        672
      ],
      "id": "8dd7e580-4712-4e36-a86e-0c14174e8cf9",
      "name": "Nếu chưa có",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "Promotion Campaign",
        "operation": "create",
        "parameters": "={\n  \"promotion_code\": \"{{ $('Loop Over Promotion').item.json.promotion_code }}\",\n  \"promotion_name\": \"{{ $('Loop Over Promotion').item.json.promotion_name }}\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -272,
        720
      ],
      "id": "18b63faa-0caf-47a7-81bf-cc6aab6081e8",
      "name": "Thêm mới Promotion Campaign",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 0.2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -16,
        656
      ],
      "id": "7e270e05-150e-482f-957e-1c29857a9187",
      "name": "Pending Add Promotion Campign",
      "webhookId": "409f450b-8c1c-42db-b4c1-970930a96609"
    },
    {
      "parameters": {
        "doctype": "Routing Sales",
        "operation": "find",
        "query": "={\n  \"filters\": [\n    [\"route_code\", \"=\", \"{{ $json.custom_router_code }}\"]\n  ]\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1472,
        288
      ],
      "id": "268fea8f-cdc6-4758-87a3-b5ca208054ac",
      "name": "Kiểm tra danh mục Routing Sales",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Kiểm tra danh mục Routing Sales');\n\n// nếu không có item nào -> trả false\nif (!Array.isArray(arr) || arr.length === 0) {\n  return [{ json: { exists: false, existed_name: null, data: null } }];\n}\n\n// lấy json của item đầu\nlet json0 = arr[0]?.json;\n\n// nếu json0 là một mảng (vd: [[{...}]]) -> lấy phần tử đầu bên trong\nif (Array.isArray(json0) && json0.length > 0) {\n  json0 = json0[0];\n}\n\n// nếu json0 là object nhưng có thêm trường data chứa mảng -> unwrap\nif (json0 && Array.isArray(json0.data) && json0.data.length > 0) {\n  json0 = json0.data[0];\n}\n\n// bây giờ json0 là object đầu tiên (nếu có)\nconst first = json0 || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,              // true nếu tồn tại name\n    existed_name: first.name || null,  // trả tên nếu có\n    data: first || null                // trả object (không trả mảng)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        288
      ],
      "id": "61696d0f-61e8-4f3b-9250-2a628230ac30",
      "name": "Kiểm tra Routing Sales tồn tại?"
    },
    {
      "parameters": {
        "doctype": "Routing Sales",
        "operation": "create",
        "parameters": "={\n  \"route_code\": \"{{ $('[Add] Chuyển đổi dữ liệu').item.json.custom_router_code }}\",\n  \"route_name\": \"{{ $('[Add] Chuyển đổi dữ liệu').item.json.custom_router }}\",\n  \"sales_person\": \"{{ $('[Add] Chuyển đổi dữ liệu').item.json.sales_person }}\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -2224,
        608
      ],
      "id": "564e27dd-a78e-47d3-9856-962dafad151c",
      "name": "Thêm mới Router Sale",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2544,
        512
      ],
      "id": "85c03d96-b0df-4bc2-a164-611c03ba4240",
      "name": "Nếu chưa có Router Sale",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "Customer",
        "operation": "find",
        "query": "={\n  \"filters\": [\n    [\"name\", \"=\", \"{{ $('Loop Over Items').item.json.payload.ma_kh }}\"]\n  ]\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1904,
        288
      ],
      "id": "c1e1dfa2-3f0e-47d0-a0e4-adbfc259e099",
      "name": "Tìm kiếm khách hàng",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "doctype": "Company",
        "operation": "find",
        "query": "{\n  \"filters\": [\n    [\"custom_company_type\", \"=\", \"Main Company\"]\n  ]\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -3744,
        352
      ],
      "id": "33530b0a-8134-4861-9fe4-23b0f1b3c24f",
      "name": "Lấy Main Company",
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Mode of Payment",
        "operation": "getById",
        "recordId": "Cash"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -480,
        32
      ],
      "id": "740401eb-695e-4f75-8761-a6b7ee8fec50",
      "name": "Get Mode of Payment",
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-20T14:20:03.474Z",
      "updatedAt": "2025-10-20T14:20:03.474Z",
      "role": "workflow:owner",
      "workflowId": "4rRWvsQyKDW6Ye1X",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-21T02:41:49.558Z",
  "versionId": "52257e55-80a2-43b4-a7bd-f750a9bd7723"
}