sinhthaihcm/2025/10/d4rM6nREzFVdUCKF.json
{
  "active": false,
  "connections": {
    "Check Data Existence": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Data Exists": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Unit in MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "UOM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unit in MobiworkDMS": {
      "main": [
        [
          {
            "node": "Check Data Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UOM": {
      "main": [
        [
          {
            "node": "Get Unit in MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Unit in MobiworkDMS": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "IF Data Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Logs To ERPNEXT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-19T10:19:11.552Z",
  "id": "d4rM6nREzFVdUCKF",
  "isArchived": false,
  "meta": null,
  "name": "[ERPNEXT] Đồng bộ dữ liệu Đơn Vị Tính ERPNEXT-> DMS",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const mobiworkData = $node['Get Unit in MobiworkDMS'].json.data || {};\n\nlet mbwUnit = [];\n\nif (Array.isArray(mobiworkData)) {\n  mbwUnit = mobiworkData;\n} else if (mobiworkData && Array.isArray(mobiworkData.data)) {\n  mbwUnit = mobiworkData.data;\n} else {\n  mbwUnit = [];\n}\n\n// Dữ liệu ERPNEXT\nconst inputItems = $node['UOM'].json || [];  // mảng input\nconsole.log(\"items\", inputItems)\nreturn inputItems.map(item => {\n  const ma = item.name || '';\n  // Kiểm tra nếu item có parent_territory là null\n  if (!ma) {\n    return null;  // Nếu có parent_territory null, bỏ qua item đó\n  }\n\n  const existing = mbwUnit.find(data => data.ma === ma);\n  return {\n    json: {\n      isExists: !!existing,\n      id: existing ? existing.id : null,\n      ma: ma,\n      ten: item.uom_name || '',\n      trang_thai: true,\n      stt: 1\n    }\n  };\n}).filter(Boolean);  // Lọc bỏ các item có giá trị null\n"
      },
      "name": "Check Data Existence",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -816,
        16
      ],
      "id": "0315237e-9489-4e77-8cab-784d72fa9490",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json['isExists'] }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Data Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -368,
        16
      ],
      "id": "d72bf2fa-5fcc-4ce2-b876-7f85c6a35e53",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        16
      ],
      "id": "b4cbab66-7975-40f3-8063-ab28f32950f7",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        80,
        88
      ],
      "id": "81213ef6-a8ef-4e7f-a13f-40d0e6ccf4c5",
      "name": "Wait",
      "webhookId": "26fef09c-0755-40ba-8771-e8d430d4b1eb"
    },
    {
      "parameters": {
        "resource": "unit",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -1040,
        16
      ],
      "id": "cfab07e5-ab1e-4971-a76c-d4888eb2e86c",
      "name": "Get Unit in MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "LMRCQovVC82iv3i6",
          "name": "MBW DMS DEV - pp.erpnext.com"
        }
      }
    },
    {
      "parameters": {
        "doctype": "UOM",
        "fields": "uom_name,name"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1264,
        16
      ],
      "id": "83913f25-87a0-4a87-9001-7a6a00694d69",
      "name": "UOM",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "data": "={\"ten\":\"{{ $('SplitInBatches').item.json.ten }}\",\"ma\":\"{{ $('SplitInBatches').item.json.ma }}\",\"trang_thai\": true,\"stt\":1} "
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -144,
        88
      ],
      "id": "3204dc91-73c7-4ca3-aa73-9b291fa78a6a",
      "name": "Create Unit in MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "LMRCQovVC82iv3i6",
          "name": "MBW DMS DEV - pp.erpnext.com"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "98568ae9-2803-4345-801a-ca6be6dc1afe",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -592,
        16
      ],
      "typeVersion": 2,
      "notesInFlow": true
    },
    {
      "parameters": {
        "doctype": "MBWNext Integration Logs",
        "operation": "create",
        "parameters": "={\n  \"sync_type\": \"UOM\",\n  \"records_processed\": \"{{ $('Check Data Existence').all().length}}\",\n  \"status\": \"Success\",\n  \"log_message\": \"Đồng bộ dữ liệu UOM thành công\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -368,
        -176
      ],
      "id": "ade2ae73-dec9-4048-b0d8-7f6eb4d28b21",
      "name": "Write Logs To ERPNEXT1",
      "executeOnce": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "pp.mbwnext.com"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-19T10:19:11.552Z",
      "updatedAt": "2025-10-19T10:19:11.552Z",
      "role": "workflow:owner",
      "workflowId": "d4rM6nREzFVdUCKF",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-03T07:48:49.315Z",
      "updatedAt": "2025-09-03T07:48:49.315Z",
      "id": "HmMyDMy8FTsYQkDm",
      "name": "ERPNext"
    },
    {
      "createdAt": "2025-09-25T07:56:38.911Z",
      "updatedAt": "2025-09-25T07:56:38.911Z",
      "id": "U2rTcFSAg0Nbuwfe",
      "name": "Đã hoàn thành"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-19T10:23:45.590Z",
  "versionId": "87a49c2e-3d5d-4a73-8c14-09df29269081"
}