sinhthaihcm/2025/10/IKi7EPdqPO27qdiS.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Order Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Sale Order To Queue": {
      "main": [
        [
          {
            "node": "Respond to Webhook Sale Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Order Type": {
      "main": [
        [
          {
            "node": "Add Sale Order To Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T01:55:04.489Z",
  "id": "IKi7EPdqPO27qdiS",
  "isArchived": false,
  "meta": null,
  "name": "Webhook DMS Listen - Bán Hàng",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8a92d0df-968d-4048-ae5b-e65ccc81d743",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -432,
        64
      ],
      "id": "e4a7510c-a3b5-4153-aa0a-eee69f6c0e78",
      "name": "Webhook",
      "webhookId": "8a92d0df-968d-4048-ae5b-e65ccc81d743"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"{{ $json.body.data[0].reference_doctype }}\",\n  \"reference_name\": \"{{ $json.body.data[0].ma_phieu }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{ JSON.stringify($json.body.data[0]) }},\n  \"log_message\": \"{{ $json.body.data[0].reference_doctype }} create from Webhook MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}\n"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        16,
        64
      ],
      "id": "ac93622b-ab7f-49c3-863e-b6ffe647fe24",
      "name": "Add Sale Order To Queue",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"message\": \"Sale Order has insert Queue\"\n}",
        "options": {}
      },
      "id": "ba767cfd-b6e4-4530-91e1-4e46419d1a11",
      "name": "Respond to Webhook Sale Order",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Map loai_don_hang sang reference_doctype\nconst mapLoaiDonHang = {\n  0: \"Sale Order Return\",\n  1: \"Sale Order\",\n  2: \"Sale Invoice\"\n};\n\nreturn items.map(item => {\n  const data = item.json.body.data[0];\n  \n  // Thêm field reference_doctype\n  return {\n    json: {\n      ...item.json,\n      body: {\n        ...item.json.body,\n        data: [\n          {\n            ...data,\n            reference_doctype: mapLoaiDonHang[data.loai_don_hang] || \"Sale Order\"\n          }\n        ]\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        64
      ],
      "id": "de0c6755-26c1-4dce-a861-5372b113cc6c",
      "name": "Check Order Type"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-06T01:55:04.489Z",
      "updatedAt": "2025-10-06T01:55:04.489Z",
      "role": "workflow:owner",
      "workflowId": "IKi7EPdqPO27qdiS",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-06T01:55:39.637Z",
  "versionId": "bed72e66-f7e5-4c02-824d-ed06073cf27d"
}