sinhthaihcm/2025/10/ooO5S7JcIjYA4041.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Order Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Sale Order To Queue": {
      "main": [
        [
          {
            "node": "Respond to Webhook Sale Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Order Type": {
      "main": [
        [
          {
            "node": "Add Sale Order To Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T01:55:48.644Z",
  "id": "ooO5S7JcIjYA4041",
  "isArchived": false,
  "meta": null,
  "name": "Webhook DMS Listen - Trả Hàng",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "059e042e-697f-48c0-ad9e-f2892b35a0ed",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -432,
        64
      ],
      "id": "a25dfe0e-a89a-486e-80a9-b8cf9790e30b",
      "name": "Webhook",
      "webhookId": "059e042e-697f-48c0-ad9e-f2892b35a0ed"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"{{ $json.body.data[0].reference_doctype }}\",\n  \"reference_name\": \"{{ $json.body.data[0].ma_phieu }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{ JSON.stringify($json.body.data[0]) }},\n  \"log_message\": \"{{ $json.body.data[0].reference_doctype }} create from Webhook MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}\n"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        16,
        64
      ],
      "id": "3ece61de-9a0b-4926-944e-b51f6b0dadf7",
      "name": "Add Sale Order To Queue",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"message\": \"Sale Order has insert Queue\"\n}",
        "options": {}
      },
      "id": "0f70a8cd-5313-4c5e-bad9-d6ab4258fca4",
      "name": "Respond to Webhook Sale Order",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Map loai_don_hang sang reference_doctype\nconst mapLoaiDonHang = {\n  0: \"Sale Order Return\",\n  1: \"Sale Order\",\n  2: \"Sale Invoice\"\n};\n\nreturn items.map(item => {\n  const data = item.json.body.data[0];\n  \n  // Thêm field reference_doctype\n  return {\n    json: {\n      ...item.json,\n      body: {\n        ...item.json.body,\n        data: [\n          {\n            ...data,\n            reference_doctype: mapLoaiDonHang[data.loai_don_hang] || \"Sale Order\"\n          }\n        ]\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        64
      ],
      "id": "f54ff217-faf3-40d7-bf92-038e18f02a2a",
      "name": "Check Order Type"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-06T01:55:48.644Z",
      "updatedAt": "2025-10-06T01:55:48.644Z",
      "role": "workflow:owner",
      "workflowId": "ooO5S7JcIjYA4041",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-06T01:55:57.734Z",
  "versionId": "cd27be11-bdbc-4eb2-9ffc-0a4ecd15f4e3"
}