sinhthaihcm/2025/10/Q12LoWHmnhvLBYqE.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chuyển đổi dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Sale Order To Queue": {
      "main": [
        [
          {
            "node": "Respond to Webhook Sale Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chuyển đổi dữ liệu": {
      "main": [
        [
          {
            "node": "Add Sale Order To Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T01:53:53.571Z",
  "id": "Q12LoWHmnhvLBYqE",
  "isArchived": false,
  "meta": null,
  "name": "Webhook DMS Listen - Đơn Hàng",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b7213e25-80b9-4e21-928b-8ba279050f34",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -432,
        64
      ],
      "id": "f09b3935-d3a5-4ce9-b9b8-4a228400a312",
      "name": "Webhook",
      "webhookId": "b7213e25-80b9-4e21-928b-8ba279050f34"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"{{ $json.body.data[0].reference_doctype }}\",\n  \"reference_name\": \"{{ $json.body.data[0].ma_phieu }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{ JSON.stringify($json.body.data[0]) }},\n  \"log_message\": \"{{ $json.body.data[0].reference_doctype }} create from Webhook MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}\n"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        16,
        64
      ],
      "id": "b83102d8-79e9-41b9-b0d8-f1745e9a0c73",
      "name": "Add Sale Order To Queue",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "MBW DMS Cloud ERPNext"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"message\": \"Sale Order has insert Queue\"\n}",
        "options": {}
      },
      "id": "fc014102-8b69-4280-a384-9e3cfe058957",
      "name": "Respond to Webhook Sale Order",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const body = item.json.body || {};\n\n  // Nếu webhook gửi mảng hoặc dạng key số\n  const orders = Object.values(body);\n\n  // Trả ra mỗi đơn hàng thành 1 item riêng\n  return orders.map(order => ({\n    json: {\n      ...item.json,\n      body: {\n        data: [\n          {\n            ...order,\n            reference_doctype: \"Sale Order\"\n          }\n        ]\n      }\n    }\n  }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        64
      ],
      "id": "54296026-f65b-407b-8c97-7eb36c765ee7",
      "name": "Chuyển đổi dữ liệu"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-06T01:53:53.571Z",
      "updatedAt": "2025-10-06T01:53:53.571Z",
      "role": "workflow:owner",
      "workflowId": "Q12LoWHmnhvLBYqE",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-06T04:41:05.734Z",
  "versionId": "684ba18e-bc0c-409a-808d-9c87c461af1e"
}