sinhthaihcm/2025/10/Q12LoWHmnhvLBYqE.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chuyển đổi dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra dữ liệu ĐH tồn tại?": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu DH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu DH": {
      "main": [
        [
          {
            "node": "Kiểm tra tồn tại DH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra tồn tại DH": {
      "main": [
        [
          {
            "node": "Xóa bản ghi DH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Sale Order To Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xóa bản ghi DH": {
      "main": [
        [
          {
            "node": "Add Sale Order To Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chuyển đổi dữ liệu": {
      "main": [
        [
          {
            "node": "Kiểm tra dữ liệu ĐH tồn tại?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Sale Order To Queue": {
      "main": [
        [
          {
            "node": "Respond to Webhook Sale Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook Sale Order": {
      "main": [
        [
          {
            "node": "Call '[ERPNext] Cập nhật dữ liệu Đơn đặt hàng từ Queue sang Sale Order'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T01:53:53.571Z",
  "id": "Q12LoWHmnhvLBYqE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Webhook DMS Listen - Đơn Hàng",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b7213e25-80b9-4e21-928b-8ba279050f34",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1216,
        192
      ],
      "id": "f09b3935-d3a5-4ce9-b9b8-4a228400a312",
      "name": "Webhook",
      "webhookId": "b7213e25-80b9-4e21-928b-8ba279050f34"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "find",
        "query": "={\n  \"filters\": [\n    [\"reference_name\", \"=\", \"{{ $json.body.data[0].ma_phieu }}\"],\n    [\"reference_doctype\", \"=\", \"Sale Order\"]\n  ]\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -768,
        192
      ],
      "id": "434dc03c-5236-4d5b-bf44-4a6f296062c8",
      "name": "Kiểm tra dữ liệu ĐH tồn tại?",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "MBW DMS Cloud ERPNext"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Kiểm tra dữ liệu ĐH tồn tại?');\n\n// Dữ liệu trả về có 2 lớp mảng -> lấy phần tử đầu tiên\nconst first = arr[0]?.json?.[0] || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,           // True nếu có giá trị name\n    existed_name: first.name || null,\n    data: first                      // Lưu nguyên dữ liệu record\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        192
      ],
      "id": "abb929da-e630-4e58-8404-236ae7172035",
      "name": "Kiểm tra xem dữ liệu DH"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        192
      ],
      "id": "fcbbabad-cf14-4413-a772-ad0447dca2fc",
      "name": "Kiểm tra tồn tại DH",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "delete",
        "recordId": "={{ $json.data.name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -96,
        112
      ],
      "id": "20d0d992-4ba5-4d2b-9ac1-2c4cdece0ab9",
      "name": "Xóa bản ghi DH",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "MBW DMS Cloud ERPNext"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const body = item.json.body || {};\n\n  // Nếu webhook gửi mảng hoặc dạng key số\n  const orders = Object.values(body);\n\n  // Trả ra mỗi đơn hàng thành 1 item riêng\n  return orders.map(order => ({\n    json: {\n      ...item.json,\n      body: {\n        data: [\n          {\n            ...order,\n            reference_doctype: \"Sale Order\"\n          }\n        ]\n      }\n    }\n  }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        192
      ],
      "id": "54296026-f65b-407b-8c97-7eb36c765ee7",
      "name": "Chuyển đổi dữ liệu"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"{{ $('Chuyển đổi dữ liệu').item.json.body.data[0].reference_doctype }}\",\n  \"reference_name\": \"{{ $('Chuyển đổi dữ liệu').item.json.body.data[0].ma_phieu }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{ JSON.stringify($('Chuyển đổi dữ liệu').item.json.body.data[0] || {}) }},\n  \"log_message\": \"{{ $('Chuyển đổi dữ liệu').item.json.body.data[0].reference_doctype }} create from Webhook MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}\n"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        128,
        192
      ],
      "id": "adfa657a-a53f-4fef-9474-4dc0200d9892",
      "name": "Add Sale Order To Queue",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "MBW DMS Cloud ERPNext"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"message\": \"Sale Order has insert Queue\"\n}",
        "options": {}
      },
      "id": "244990d4-d408-4eb8-8f0a-608eaac79b9c",
      "name": "Respond to Webhook Sale Order",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rAB36xOgn6ST0vlv",
          "mode": "list",
          "cachedResultUrl": "/workflow/rAB36xOgn6ST0vlv",
          "cachedResultName": "[ERPNext] Cập nhật dữ liệu Đơn đặt hàng từ Queue sang Sale Order"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        192
      ],
      "id": "6fc54be9-f3e3-4441-92f1-7030a4b14fd8",
      "name": "Call '[ERPNext] Cập nhật dữ liệu Đơn đặt hàng từ Queue sang Sale Order'"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-06T01:53:53.571Z",
      "updatedAt": "2025-10-06T01:53:53.571Z",
      "role": "workflow:owner",
      "workflowId": "Q12LoWHmnhvLBYqE",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-08T01:46:12.684Z",
  "versionId": "b574e7d2-96aa-463e-8c45-96ea855e2dc2"
}