sinhthaihcm/2025/09/4nUdZkPLu3afwaPO.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Lấy nhà cung cấp MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Tạo nhà cung cấp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chuyển đổi dữ liệu": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy nhà cung cấp MobiworkDMS": {
      "main": [
        [
          {
            "node": "Chuyển đổi dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo nhà cung cấp": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-28T02:57:39.208Z",
  "id": "4nUdZkPLu3afwaPO",
  "isArchived": false,
  "meta": null,
  "name": "[DMS] Đồng bộ dữ liệu nhà cung cấp từ DMS -> ERPNext",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        112
      ],
      "id": "b06db328-a204-462b-9b88-157a96c4728d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        112
      ],
      "id": "344edbe1-6714-4b3f-bd53-c12d501f3c13",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        160
      ],
      "id": "84f5d75f-72bf-4bf3-a4be-14653613a37f",
      "name": "Wait",
      "webhookId": "bd6345c5-b037-4c4a-ad06-83eb9a42803f"
    },
    {
      "parameters": {
        "jsCode": "// Input có thể là mảng phẳng ([]) hoặc bọc ở { data: [] } / [{ data: [] }]\nconst raw = $json;\nlet rows = [];\n\nif (Array.isArray(raw)) {\n  rows = raw;\n} else if (Array.isArray(raw?.data)) {\n  rows = raw.data;\n} else if (raw && typeof raw === 'object') {\n  rows = [raw];\n} else {\n  rows = [];\n}\n\nreturn rows\n  .map((json) => {\n    const codeRaw = (json.ma ?? '').toString().trim();\n    const nameRaw = (json.ten ?? '').toString().trim();\n\n    // parentid (nếu có thì gán, nếu không thì null)\n    const parentRaw = (json.parentid ?? '').toString().trim();\n    const parent = parentRaw ? parentRaw.toUpperCase() : null;\n\n    // Nếu thiếu mã hoặc tên thì bỏ qua\n    if (!codeRaw || !nameRaw) return null;\n\n    // Chuẩn hoá mã → UPPERCASE\n    const code = codeRaw.toUpperCase();\n\n    // Payload Supplier (không bắt buộc parent_code)\n    const payload = {\n      doctype: 'Supplier',\n      supplier_code: code,\n      supplier_name: nameRaw,\n      is_active: json.trang_thai !== false,\n      status: json.trang_thai !== false ? 'Active' : 'Disabled',\n      parent_code: parent,                // có thể null\n      mbw_stt: json.stt ?? null,\n      mbw_updated_at: json.ngay_cap_nhat ?? null,\n    };\n\n    // Định dạng ngày giờ hợp lệ cho ERPNext/MySQL\n    const createDate = new Date().toISOString().slice(0, 19).replace('T', ' ');\n\n    return {\n      json: {\n        payload_str: payload,  // để object, stringify sau\n        reference_doctype: 'Supplier',\n        reference_name: code,\n        operation: 'Create', // hoặc 'Upsert' nếu ERPNext hỗ trợ\n        retry_count: 0,\n        status: 'Pending',\n        log_message: 'Auto-created for Supplier operation',\n        create_date: createDate, // ✅ Đã chuẩn hoá format\n        sync_time: null,\n        source_data: 'MBW NEXT',\n      }\n    };\n  })\n  .filter(Boolean);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        112
      ],
      "id": "212f99ee-15b2-49f5-b964-b71d9cd71338",
      "name": "Chuyển đổi dữ liệu"
    },
    {
      "parameters": {
        "resource": "supplier",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -64,
        112
      ],
      "id": "c251e89f-10be-44d3-90cb-9a7a5937f9a6",
      "name": "Lấy nhà cung cấp MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "CL08GJJwCUpHDevr",
          "name": "Cozy DMS Open APIs"
        }
      }
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"Supplier\",\n  \"reference_name\": \"{{ $json.reference_name }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{ JSON.stringify($json.payload_str) }},\n  \"log_message\": \"Supplier create from Sync MBW DMS\",\n  \"create_date\": \"{{ $json.create_date }}\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}\n"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        592,
        160
      ],
      "id": "75095b24-cc91-465c-9b7a-0c717243460d",
      "name": "Tạo nhà cung cấp",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-28T02:57:39.208Z",
      "updatedAt": "2025-09-28T02:57:39.208Z",
      "role": "workflow:owner",
      "workflowId": "4nUdZkPLu3afwaPO",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T03:08:58.177Z",
  "versionId": "c346030f-d82d-4e42-b338-9813078d4731"
}