sinhthaihcm/2025/09/5exAbq2yDa5AjONi.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Lấy danh sách bản ghi Nhà Phân Phối",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Lấy danh sách bản ghi Nhà Phân Phối",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Lấy công ty trong ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Cập nhật Nhà cung cấp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thêm mới nhà cung cấp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu có tồn": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy danh sách bản ghi Nhà Phân Phối": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy nhà cung cấp trong ERPNext": {
      "main": [
        [
          {
            "node": "Convert Data With Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thêm mới nhà cung cấp": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy công ty trong ERPNext": {
      "main": [
        [
          {
            "node": "Lấy nhà cung cấp trong ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Data With Company": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu có tồn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập nhật Nhà cung cấp": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-28T03:09:36.341Z",
  "id": "5exAbq2yDa5AjONi",
  "isArchived": false,
  "meta": null,
  "name": "[ERPNext] Cập nhật dữ liệu Nhà cung cấp từ Queue sang Company",
  "nodes": [
    {
      "parameters": {},
      "id": "a0de127d-40ed-4878-b61f-445535d388cc",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -2464,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "4f35fe03-89f9-42b6-a747-c5480545245f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2464,
        336
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "// Biến một mảng trong 1 item thành nhiều item riêng\nfunction safeParse(value) {\n  if (typeof value !== 'string') return value;\n  const s = value?.trim?.() ?? '';\n  if (!s || (s[0] !== '{' && s[0] !== '[')) return value;\n  try { return JSON.parse(s); } catch { return value; }\n}\n\nconst all = $input.all();\nlet records;\n\n// 1) Trường hợp API trả về mảng ngay ở root\nif (Array.isArray(all[0]?.json)) {\n  records = all[0].json;\n\n// 2) Hoặc gói trong thuộc tính data\n} else if (Array.isArray(all[0]?.json?.data)) {\n  records = all[0].json.data;\n\n// 3) Hoặc đã là nhiều item sẵn\n} else {\n  records = all.map(i => i.json);\n}\n\n// Nếu mỗi record có trường payload dạng string → parse sang object (không bắt buộc)\nreturn records.map(r => {\n  const parsed = ('payload' in r) ? safeParse(r.payload) : r.payload;\n  return { json: { ...r, payload: parsed } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        240
      ],
      "id": "901f7a5f-3eb5-4632-a2f5-38cefe8af364",
      "name": "Split"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1792,
        240
      ],
      "id": "778b2a8c-675b-471e-a18e-ae5686c782b4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        272
      ],
      "id": "60ccb76d-99ad-4ca8-bcba-f0598f3d9c06",
      "name": "Wait",
      "webhookId": "7c86a37a-9b3a-476d-8cdf-b6efe945c307"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        160
      ],
      "id": "d18dc51a-8396-419c-8e84-6cafc0eda099",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Lấy nhà cung cấp trong ERPNext'); \n\n// Kiểm tra xem item đầu tiên có field name không\nconst first = arr[0]?.json || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,   // true nếu có giá trị name\n    existed_name: first.name || null,\n    data: arr[0]?.json || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        160
      ],
      "id": "7b36fd87-b040-48aa-b07b-1881930fc4ab",
      "name": "Kiểm tra xem dữ liệu có tồn"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "fields": "reference_doctype,reference_name,operation,payload,name",
        "filters": {
          "filter": [
            {
              "field": "source_data",
              "value": "MBW DMS"
            },
            {
              "field": "status",
              "operator": "in",
              "value": "Pending"
            },
            {
              "field": "reference_doctype",
              "value": "Supplier"
            }
          ]
        }
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -2240,
        240
      ],
      "id": "29001d1d-20ca-468e-a01b-0178b166d8a9",
      "name": "Lấy danh sách bản ghi Nhà Phân Phối",
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Supplier",
        "operation": "getById",
        "recordId": "={{ $('Loop Over Items').item.json.payload.supplier_name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1216,
        160
      ],
      "id": "46eacd6b-08b7-46ba-b461-8a226add2e9d",
      "name": "Lấy nhà cung cấp trong ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Supplier",
        "operation": "create",
        "parameters": "={{ JSON.stringify($('Convert Data With Company').item.json) }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -336,
        240
      ],
      "id": "d0fba245-a1f4-427a-a502-de8c0786d699",
      "name": "Thêm mới nhà cung cấp",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Company",
        "operation": "getById",
        "recordId": "={{ $json.payload.supplier_name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1456,
        160
      ],
      "id": "32dc9e47-10d0-438f-9b1f-7e16c1a5b70a",
      "name": "Lấy công ty trong ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ Loop Over Items\nconst cur = $('Loop Over Items').item.json.payload;\n\n// Lấy thông tin company từ node \"Lấy công ty trong ERPNext\"\nconst company = $('Lấy công ty trong ERPNext').item.json;\n\n// JSON cơ bản\nconst data = {\n  supplier_name: cur.supplier_name,\n  supplier_code: cur.supplier_code,\n  supplier_type: \"Company\"\n};\n\n// Nếu có company thì thêm flag\nif (company && company.name) {\n  data.is_internal_supplier = true;\n  data.represents_company = company.name;\n}\n\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        160
      ],
      "id": "4f57a7c3-b2fc-433a-b1ae-d85f730f2fb1",
      "name": "Convert Data With Company",
      "notesInFlow": true,
      "notes": "Kiểm tra supplier khi khởi tạo NPP; đã có supplier công ty chính chưa\nNếu chưa: khởi tạo Supplier » gán is internal » gán tổ chức giao dịch là NPP\nNếu có: Gán thêm NPP vào danh sách tổ chức giao dịch"
    },
    {
      "parameters": {
        "doctype": "Supplier",
        "operation": "update",
        "parameters": "={{ JSON.stringify($('Convert Data With Company').item.json) }}",
        "recordId": "={{ $('Convert Data With Company').item.json.supplier_name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -336,
        16
      ],
      "id": "3fc298d9-540d-464c-be93-5adee69906ba",
      "name": "Cập nhật Nhà cung cấp",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-28T03:09:36.341Z",
      "updatedAt": "2025-09-28T03:09:36.341Z",
      "role": "workflow:owner",
      "workflowId": "5exAbq2yDa5AjONi",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T07:47:19.794Z",
  "versionId": "e1dd5919-b16b-488a-a0c1-1754f732de28"
}