sinhthaihcm/2025/09/5exAbq2yDa5AjONi.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Lấy danh sách bản ghi Nhà Phân Phối",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Lấy danh sách bản ghi Nhà Phân Phối",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Lấy công ty trong ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thêm mới Công ty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu có tồn": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy danh sách bản ghi Nhà Phân Phối": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy công ty trong ERPNext": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu có tồn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thêm mới Công ty": {
      "main": [
        [
          {
            "node": "Lấy khách hàng trong ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thêm mới Khách Hàng": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy khách hàng trong ERPNext": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu khách hàng có tồn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu khách hàng có tồn": {
      "main": [
        [
          {
            "node": "Nếu đã có khách hàng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nếu đã có khách hàng": {
      "main": [
        [
          {
            "node": "Cập nhật khách hàng",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thêm mới Khách Hàng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập nhật khách hàng": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-28T03:09:36.341Z",
  "id": "5exAbq2yDa5AjONi",
  "isArchived": false,
  "meta": null,
  "name": "[ERPNext] Cập nhật dữ liệu Nhà cung cấp từ Queue sang Company",
  "nodes": [
    {
      "parameters": {},
      "id": "a0de127d-40ed-4878-b61f-445535d388cc",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -2464,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "4f35fe03-89f9-42b6-a747-c5480545245f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2464,
        336
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "// Biến một mảng trong 1 item thành nhiều item riêng\nfunction safeParse(value) {\n  if (typeof value !== 'string') return value;\n  const s = value?.trim?.() ?? '';\n  if (!s || (s[0] !== '{' && s[0] !== '[')) return value;\n  try { return JSON.parse(s); } catch { return value; }\n}\n\nconst all = $input.all();\nlet records;\n\n// 1) Trường hợp API trả về mảng ngay ở root\nif (Array.isArray(all[0]?.json)) {\n  records = all[0].json;\n\n// 2) Hoặc gói trong thuộc tính data\n} else if (Array.isArray(all[0]?.json?.data)) {\n  records = all[0].json.data;\n\n// 3) Hoặc đã là nhiều item sẵn\n} else {\n  records = all.map(i => i.json);\n}\n\n// Nếu mỗi record có trường payload dạng string → parse sang object (không bắt buộc)\nreturn records.map(r => {\n  const parsed = ('payload' in r) ? safeParse(r.payload) : r.payload;\n  return { json: { ...r, payload: parsed } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        240
      ],
      "id": "901f7a5f-3eb5-4632-a2f5-38cefe8af364",
      "name": "Split"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1792,
        240
      ],
      "id": "778b2a8c-675b-471e-a18e-ae5686c782b4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        272
      ],
      "id": "60ccb76d-99ad-4ca8-bcba-f0598f3d9c06",
      "name": "Wait",
      "webhookId": "7c86a37a-9b3a-476d-8cdf-b6efe945c307"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        160
      ],
      "id": "d18dc51a-8396-419c-8e84-6cafc0eda099",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Lấy công ty trong ERPNext'); \n\n// Kiểm tra xem item đầu tiên có field name không\nconst first = arr[0]?.json || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,   // true nếu có giá trị name\n    existed_name: first.name || null,\n    data: arr[0]?.json || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        160
      ],
      "id": "7b36fd87-b040-48aa-b07b-1881930fc4ab",
      "name": "Kiểm tra xem dữ liệu có tồn"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "fields": "reference_doctype,reference_name,operation,payload,name",
        "filters": {
          "filter": [
            {
              "field": "source_data",
              "value": "MBW DMS"
            },
            {
              "field": "status",
              "operator": "in",
              "value": "Pending"
            },
            {
              "field": "reference_doctype",
              "value": "Distribution"
            }
          ]
        }
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -2240,
        240
      ],
      "id": "29001d1d-20ca-468e-a01b-0178b166d8a9",
      "name": "Lấy danh sách bản ghi Nhà Phân Phối",
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Company",
        "operation": "getById",
        "recordId": "={{ $json.payload.distribution_name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1568,
        160
      ],
      "id": "46eacd6b-08b7-46ba-b461-8a226add2e9d",
      "name": "Lấy công ty trong ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Company",
        "operation": "create",
        "parameters": "={\n  \"abbr\": \"{{ $('Split').item.json.payload.distribution_code }}\",\n  \"company_name\": \"{{ $('Split').item.json.payload.distribution_name }}\",\n  \"default_currency\": \"VND\",\n  \"country\": \"Vietnam\"\n}  "
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -896,
        96
      ],
      "id": "d0fba245-a1f4-427a-a502-de8c0786d699",
      "name": "Thêm mới Công ty",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Customer",
        "operation": "create",
        "parameters": "={\n  \"customer_type\": \"Company\",\n  \"custom_dms_customer_category\": \"Công ty\",\n   \"customer_name\": \"{{ $('Loop Over Items').item.json.payload.distribution_name }}\",\n  \"customer_code\": \"{{ $('Loop Over Items').item.json.payload.distribution_code }}\",\n\"is_internal_customer\":true,\n\"represents_company\":\"{{ $('Loop Over Items').item.json.payload.distribution_name }}\"\n}\n"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "3f629e84-8242-4641-9c2e-5633fc8a4966",
      "name": "Thêm mới Khách Hàng",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Customer",
        "operation": "getById",
        "recordId": "={{ $json.payload.distribution_code }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -672,
        96
      ],
      "id": "def30870-54fe-4f7c-ac89-10b67c4c4ae1",
      "name": "Lấy khách hàng trong ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Lấy khách hàng trong ERPNext'); \n\n// Kiểm tra xem item đầu tiên có field name không\nconst first = arr[0]?.json || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,   // true nếu có giá trị name\n    existed_name: first.name || null,\n    data: arr[0]?.json || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        96
      ],
      "id": "2f9e59e6-7343-4558-a513-e099c752c11a",
      "name": "Kiểm tra xem dữ liệu khách hàng có tồn"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "88ad9f87-56c5-4663-beb4-9a05babe230c",
      "name": "Nếu đã có khách hàng",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "Customer",
        "operation": "update",
        "parameters": "={\n  \"customer_type\": \"Company\",\n  \"custom_dms_customer_category\": \"Công ty\",\n   \"customer_name\": \"{{ $('Loop Over Items').item.json.payload.distribution_name }}\",\n  \"customer_code\": \"{{ $('Loop Over Items').item.json.payload.distribution_code }}\",\n\"is_internal_customer\":true,\n\"represents_company\":\"{{ $('Loop Over Items').item.json.payload.distribution_name }}\"\n}\n",
        "recordId": "={{ $json.data.name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d9c99dc0-acc9-443f-9648-56568e639363",
      "name": "Cập nhật khách hàng",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-28T03:09:36.341Z",
      "updatedAt": "2025-09-28T03:09:36.341Z",
      "role": "workflow:owner",
      "workflowId": "5exAbq2yDa5AjONi",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T03:10:31.111Z",
  "versionId": "a4ec9f91-df6c-4638-b522-f38cee88f58e"
}