sinhthaihcm/2025/09/6blFdPNJB7rlnBbd.json
{
  "active": false,
  "connections": {
    "Check Data Existence": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Data Exists": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create ItemIndustry in MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Supplier ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ItemIndustry in MobiworkDMS": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "IF Data Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Logs To ERPNEXT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supplier ERPNext": {
      "main": [
        [
          {
            "node": "Get Supplier in MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Supplier in MobiworkDMS": {
      "main": [
        [
          {
            "node": "Check Data Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-26T03:26:09.816Z",
  "id": "6blFdPNJB7rlnBbd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[DMS] Đồng bộ dữ liệu Nhà cung cấp DMS -> ERPNext",
  "nodes": [
    {
      "parameters": {
        "functionCode": "// Helper chuẩn hóa để so sánh (upper-case + trim)\nconst N = s => (s ?? '').toString().trim().toUpperCase();\n\n// 1) Lấy dữ liệu\nconst dmsData = $node['Get Industry in MobiworkDMS'].json?.data ?? [];\nconst erpData = $node['Item Line'].json ?? [];\n\n// 2) Tập mã đã có bên DMS\nconst dmsCodes = dmsData.map(u => (u.ma || '').toUpperCase());\n\n// 3) Lọc ra những item có trong ERP nhưng chưa có trong DMS\nreturn erpData\n  .filter(e => e.name && !dmsCodes.includes(N(e.name)))\n  .map(e => ({\n    json: {\n      isExists: false,          // để IF node biết là chưa tồn tại\n      ma: e.name||null,               // mã ERP -> DMS.ma\n      ten: e.item_line_name||null,    // tên hiển thị\n      parent_item_line: e.parent_item_line || null,\n      is_group: e.is_group || 0,\n      trang_thai: true,\n      stt: 1\n    }\n  }));"
      },
      "name": "Check Data Existence",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -208,
        240
      ],
      "id": "6a0b1876-f3ef-4d3c-a07a-5a28528e4540",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json['isExists'] }}",
              "operation": "=equal",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Data Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "45c3f7ef-bdb5-4b84-9617-816179edbfae",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        240
      ],
      "id": "0ec51c19-9cd8-44a3-8f26-a5c54c9d390d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        320
      ],
      "id": "8a59f93d-b2a0-4e93-8b99-682effb253fd",
      "name": "Wait",
      "webhookId": "3cc85c1d-76c2-4490-8ac7-7ab5722675dd"
    },
    {
      "parameters": {
        "doctype": "MBWNext Integration Logs",
        "operation": "create",
        "parameters": "={\n  \"sync_type\": \"Item Line\",\n  \"records_processed\": \"{{ $('Check Data Existence').all().length}}\",\n  \"status\": \"Success\",\n  \"log_message\": \"Đồng bộ dữ liệu Item Line thành công\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        240,
        48
      ],
      "id": "7c33a1e6-3893-4630-90f6-5391ef5fe8ea",
      "name": "Write Logs To ERPNEXT1",
      "executeOnce": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "MBW DMS Cloud ERPNext"
        }
      }
    },
    {
      "parameters": {
        "resource": "industry",
        "operation": "create",
        "data": "={\"ten\":\"{{ $('SplitInBatches').item.json.ten }}\",\"ma\":\"{{  $('SplitInBatches').item.json.ma}}\",\"trang_thai\": true,\"stt\":1} "
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        448,
        336
      ],
      "id": "37f2eb0e-65ba-45f5-b2ea-590baaaf8026",
      "name": "Create ItemIndustry in MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "2SVxatk3bkSth64j",
          "name": "MBW DMS Cloud"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "688b0502-2307-4e3b-8106-7147f6b0f2fb",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        16,
        240
      ],
      "typeVersion": 2,
      "notesInFlow": true
    },
    {
      "parameters": {
        "doctype": "Supplier",
        "fields": "name,supplier_name,primary_address,mobile_no,tax_id"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -656,
        240
      ],
      "id": "104530c9-d0db-45cb-8cdd-a43dc91446f3",
      "name": "Supplier ERPNext",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "MBW DMS Cloud ERPNext"
        }
      }
    },
    {
      "parameters": {
        "resource": "supplier",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -432,
        240
      ],
      "id": "a1c4dbbf-d9d0-42b0-bf01-7dafd9293492",
      "name": "Get Supplier in MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "2SVxatk3bkSth64j",
          "name": "MBW DMS Cloud"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-26T03:26:09.816Z",
      "updatedAt": "2025-09-26T03:26:09.816Z",
      "role": "workflow:owner",
      "workflowId": "6blFdPNJB7rlnBbd",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-25T07:56:45.876Z",
      "updatedAt": "2025-09-25T07:56:45.876Z",
      "id": "HbmuUnsaUhidP8iU",
      "name": "Đang thực hiện"
    },
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-26T04:19:44.056Z",
  "versionId": "8395e584-4272-484b-84b7-5471cd53b4b0"
}