sinhthaihcm/2025/09/gEBBuC7u5hCiOhTA.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Lấy Phiếu Trả Hàng từ MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MBWD ERPNext": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Phiếu Trả Hàng từ MobiworkDMS": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-22T10:12:12.940Z",
  "id": "gEBBuC7u5hCiOhTA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[DMS] Đồng bộ dữ liệu phiếu trả hàng từ MBWDMS -> ERPNext",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        208
      ],
      "id": "ed153ed8-c8a6-46d9-90c0-a742211b9454",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"Sale Order Return\",\n  \"reference_name\": \"{{ $json.reference_name }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{JSON.stringify($json.payload_str)}},\n  \"log_message\": \"Sale Order Return create from Sync MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "f5fdc167-b545-4fed-8238-131c78c3675b",
      "name": "MBWD ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === 1. Lấy tất cả dữ liệu từ node trước ===\n// \"items\" là mảng mặc định n8n truyền vào Code node\nlet allOrders = [];\n\n// Duyệt qua tất cả items từ node trước\nfor (const item of items) {\n  const data = item.json;\n\n  // Nếu data là array (nhiều đơn hàng), gộp vào allOrders\n  if (Array.isArray(data)) {\n    allOrders.push(...data);\n  } else {\n    // Nếu chỉ là 1 object, push trực tiếp\n    allOrders.push(data);\n  }\n}\n\nconsole.log('Total Orders:', allOrders.length);\nconsole.log('Sample Order:', JSON.stringify(allOrders[0], null, 2));\n\n// Nếu không có đơn hàng, return rỗng\nif (allOrders.length === 0) {\n  return [];\n}\n\n// === 2. Duyệt qua từng đơn hàng và chuẩn hóa dữ liệu ===\nreturn allOrders.map(order => {\n  const orderCode = (order.ma_phieu || \"\").trim();\n\n  // 2.1. Chuẩn hóa sản phẩm\n  const products = (order.san_pham || []).map(sp => ({\n    stt: sp.stt,\n    ma_sp: (sp.ma_sp || \"\").trim(),\n    ten_sp: (sp.ten_sp || \"\").trim(),\n    don_vi_tinh: (sp.ten_dvt || \"\").trim(),\n    kho_xuat: (sp.ma_kho_xuat || \"\").trim(),\n    so_luong: Number(sp.so_luong || 0),\n    don_gia: Number(sp.don_gia || 0),\n    thanh_tien: Number(sp.thanh_tien || 0),\n    chiet_khau: Number(sp.chiet_khau || 0),\n    vat: Number(sp.vat || 0),\n    ghi_chu: (sp.ghi_chu || \"\").trim(),\n    is_km: sp.is_km === true,\n    ctkm: (sp.ctkm || \"\").trim()\n  }));\n\n  // 2.2. Chuẩn hóa sản phẩm khuyến mãi\n  const promotions = (order.san_pham_km || []).map(km => ({\n    stt: km.stt_km,\n    ma_sp: (km.ma_sp_km || \"\").trim(),\n    ten_sp: (km.ten_sp_km || \"\").trim(),\n    don_vi_tinh: (km.ten_dvt_km || \"\").trim(),\n    kho_xuat: (km.ma_kho_xuat_km || \"\").trim(),\n    so_luong: Number(km.so_luong_km || 0),\n    is_km: km.is_km === true,\n    ctkm: (km.ctkm || \"\").trim()\n  }));\n\n  // 2.3. Tạo payload chuẩn\n  const payload = {\n    doctype: \"Sales Order\",\n    order_code: orderCode,\n    customer_code: (order.ma_kh || \"\").trim(),\n    customer_name: (order.ten_kh || \"\").trim(),\n    address: (order.dia_chi || \"\").trim(),\n    phone: (order.sdt || \"\").trim(),\n    order_date: order.ngay_dat || null,\n    group_code: (order.ma_nhom || \"\").trim(),\n    order_status: (order.trang_thai || \"\").trim(),\n\n    created_by: (order.nguoi_tao || \"\").trim(),\n    updated_by: (order.nguoi_sua || \"\").trim(),\n    created_at: order.ngay_tao || null,\n    updated_at: order.ngay_sua || null,\n\n    approved_by: (order.nguoi_duyet || \"\").trim(),\n    approved_at: order.ngay_duyet || null,\n\n    // Tổng tiền\n    total_amount: Number(order.tong_tien_hang || 0),\n    total_vat: Number(order.tong_tien_vat || 0),\n    total_discount_item: Number(order.tong_ck_sp || 0),\n    order_discount: Number(order.ck_don_hang || 0),\n    grand_total: Number(order.phai_thanh_toan || 0),\n\n    // Danh sách sản phẩm\n    products,\n    promotions\n  };\n\n  // === 3. Trả về format chuẩn cho n8n ===\n  return {\n    json: {\n      payload_str: JSON.stringify(payload),\n      reference_doctype: \"Sales Order\",\n      reference_name: orderCode,\n      operation: \"Create\",\n      retry_count: 0,\n      status: \"Pending\",\n      log_message: \"Auto-created for Sales Order operation\",\n      create_date: new Date().toISOString(),\n      sync_time: null,\n      source_data: \"MBW NEXT\"\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        208
      ],
      "id": "84234e42-f7ba-4cde-bd27-1a990e099e59",
      "name": "Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        208
      ],
      "id": "e7713423-f003-49e9-8e1f-d3ccffacdc3d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        288
      ],
      "id": "2cd6dbee-ee68-438f-9ecc-ab3341bf92b1",
      "name": "Wait",
      "webhookId": "b302e497-b0d8-41dc-97e4-0ada627c28e9"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yvQgnKcC1HprLg13",
          "mode": "list",
          "cachedResultName": "[ERPNext] Cập nhật dữ liệu Sản phẩm từ Queue sang Item"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e117fbbd-53c9-43e2-ac7e-c88804eab9e3",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "resource": "returnOrder",
        "additionalFields": {
          "date_from": ""
        }
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -656,
        208
      ],
      "id": "a5541159-b795-48f5-ac21-b9cc6f521638",
      "name": "Lấy Phiếu Trả Hàng từ MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "CL08GJJwCUpHDevr",
          "name": "MBW DMS Open APIs "
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-22T10:12:12.940Z",
      "updatedAt": "2025-09-22T10:12:12.940Z",
      "role": "workflow:owner",
      "workflowId": "gEBBuC7u5hCiOhTA",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-22T10:12:43.562Z",
  "versionId": "a335e2a6-49bf-48ed-8bcb-ef56ebfa7f9d"
}