sinhthaihcm/2025/09/hXY0KkYqapNl4tC0.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Customer Type in MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Create Customer Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check Data Existence": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preserve Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Data": {
      "main": [
        [
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data Info": {
      "main": [
        [
          {
            "node": "Write Logs To ERPNEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Type in MobiworkDMS": {
      "main": [
        [
          {
            "node": "Customer Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Type": {
      "main": [
        [
          {
            "node": "Check Data Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer Type": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-22T10:19:52.895Z",
  "id": "hXY0KkYqapNl4tC0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[DMS] Đồng bộ dữ liệu Loại khách hàng từ DMS -> ERPNext",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        160
      ],
      "id": "71f1a9e0-ac8b-41e0-98ec-d5abb96eda18",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "e9c480a8-f543-45ec-969b-40b157290739",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        0,
        272
      ],
      "typeVersion": 2,
      "notesInFlow": true
    },
    {
      "parameters": {
        "functionCode": "// Helper: Chuẩn hóa để so sánh\nconst normalize = (s) => (s ?? '').toString().normalize('NFC').trim().toUpperCase();\n\n// === 1) Lấy dữ liệu từ DMS ===\nconst dmsSource = $node['Get Customer Type in MobiworkDMS'].json ?? [];\nconst dmsRaw = Array.isArray(dmsSource)\n  ? (dmsSource[0]?.data ?? [])\n  : (dmsSource.data ?? []);\n\n// === 2) Lấy dữ liệu từ ERP ===\n// ERP trả về mảng object trực tiếp\nconst erpRaw = Array.isArray($json) ? $json : [];\n\n// === 3) Tạo set các mã đã có trong ERP ===\nconst erpCodes = new Set(\n  erpRaw\n    .map(x => normalize(x.customer_type_id)) // chuẩn hóa đúng key\n    .filter(Boolean)\n);\n\n// === 4) Chuẩn hóa dữ liệu DMS ===\nconst dmsTypes = dmsRaw\n  .map(x => ({\n    code: (x.ma ?? '').trim(),\n    name: (x.ten ?? '').trim(),\n    active: x.trang_thai !== false,\n    stt: x.stt ?? null,\n    updated_at: x.ngay_cap_nhat ?? null\n  }))\n  .filter(x => x.code && x.name);\n\n// === 5) Lọc ra các bản ghi cần tạo mới ===\nconst toCreate = dmsTypes.filter(x => !erpCodes.has(normalize(x.code)));\n\n// === 6) Output để tạo mới ERP ===\nreturn toCreate.map(item => ({\n  json: {\n    customer_type_id: item.code,\n    customer_type_name: item.name,\n    active: item.active,\n    stt: item.stt,\n    ngay_cap_nhat: item.updated_at\n  }\n}));\n"
      },
      "name": "Check Data Existence",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -224,
        160
      ],
      "id": "8c8f8c31-c9b4-420d-b432-abb50679bcd2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{ json: $json }];"
      },
      "name": "Preserve Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "727b98ad-5e65-487e-a2ad-3e1b9fa3988c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "inner"
      },
      "name": "Merge Data Info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        224,
        64
      ],
      "id": "50393d37-ce3d-4696-88ad-dd236bcdcd40"
    },
    {
      "parameters": {
        "doctype": "MBWNext Integration Logs",
        "operation": "create",
        "parameters": "={\n\n  \"sync_type\": \"Customer Type\",\n  \"records_processed\": \"{{ $items().length }}\",\n  \"status\": \"Đồng bộ dữ liệu Customer Type thành công\",\n  \"log_message\": \"\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        448,
        64
      ],
      "id": "17ced8e6-81ee-40e5-9302-68d18f673fdb",
      "name": "Write Logs To ERPNEXT",
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        272
      ],
      "id": "8f546645-c8ad-4794-a63d-f91d27b103d3",
      "name": "Wait",
      "webhookId": "0a67bb5d-da5d-4f1f-b741-3bfe1e71a03f"
    },
    {
      "parameters": {
        "resource": "customerType",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -656,
        160
      ],
      "id": "45a8a892-7482-4260-858e-452ff36b021d",
      "name": "Get Customer Type in MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "CL08GJJwCUpHDevr",
          "name": "MBW DMS Open APIs "
        }
      }
    },
    {
      "parameters": {
        "doctype": "DMS Customer Type",
        "fields": "customer_type_id,customer_type_name"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -448,
        160
      ],
      "id": "c2945d9d-2b41-4986-a69b-5e0a272d3f87",
      "name": "Customer Type",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "doctype": "DMS Customer Type",
        "operation": "create",
        "parameters": "={\n  \"customer_type_id\": \"{{ $json.customer_type_id }}\",\n  \"customer_type_name\": \"{{ $json.customer_type_name }}\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        224,
        272
      ],
      "id": "129995c2-2ab4-48f1-887e-e087a768d996",
      "name": "Create Customer Type",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-22T10:19:52.895Z",
      "updatedAt": "2025-09-22T10:19:52.895Z",
      "role": "workflow:owner",
      "workflowId": "hXY0KkYqapNl4tC0",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-22T10:19:52.895Z",
  "versionId": "8500ff35-0167-4a3b-af96-f902d4463777"
}