sinhthaihcm/2025/09/HYmFt1DdXyEW5k0G.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Lấy sản phẩm MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy sản phẩm MobiworkDMS": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MBWD ERPNext": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-09T09:01:21.493Z",
  "id": "HYmFt1DdXyEW5k0G",
  "meta": null,
  "name": "[DMS] Đồng bộ dữ liệu sản phẩm từ MBWDMS -> ERPNext",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        80
      ],
      "id": "130f9b8f-a576-4487-823f-5dc493652c2a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "product",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -800,
        80
      ],
      "id": "4293e41e-07bd-44bc-9a96-d9105dd40cf8",
      "name": "Lấy sản phẩm MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "CL08GJJwCUpHDevr",
          "name": "MBW DMS Open APIs "
        }
      }
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"Item\",\n  \"reference_name\": \"{{ $json.reference_name }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{JSON.stringify($json.payload_str)}},\n  \"log_message\": \"Item create from Sync MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -140,
        80
      ],
      "id": "91feb2ef-8c20-4b81-9707-06cef098703d",
      "name": "MBWD ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// items: array sản phẩm từ MobiWork\nreturn items.map(({ json }) => {\n  // Chuẩn hóa nhóm hàng -> mảng\n  const groupPath = (json.nganh_hang || '').split('>').map(s => s.trim()).filter(Boolean);\n\n  // Đo VAT %\n  const vat = Number(json.vat || 0);\n\n  // Hệ số quy đổi (dvt_chan -> dvt_le)\n  const factor = Number(json.hsqđ || json.hsgd || json.hsg || json.hsqd || 1);\n\n  const payload = {\n    doctype: \"Item\",\n    item_code: (json.ma_sp || \"\").trim(),\n    item_name: (json.ten_sp || \"\").trim(),\n    brand: (json.nhan_hieu || \"\").trim(),\n    item_group_path: groupPath,\n    default_supplier: (json.nha_cung_cap || \"\").trim(),\n    stock_uom: (json.dvt_le || \"Nos\").trim(),\n    description: json.mo_ta || \"\",\n    is_stock_item: 1,\n    disabled: 0,\n    custom_invoice_item_name: json.ten_xuat_hoa_don || \"\",\n    custom_invoice_item_code: json.ma_xuat_hoa_don || \"\",\n    uom_conversions: {\n      big_uom: json.dvt_chan || \"\",\n      small_uom: json.dvt_le || \"\",\n      factor\n    },\n    barcodes: json.ma_vach ? [{\n      barcode: String(json.ma_vach),\n      barcode_type: String(json.ma_vach).length === 13 ? \"EAN-13\" : \"Code128\"\n    }] : [],\n    prices: [\n      { price_list: \"Standard Buying\",    price_list_rate: Number(json.gia_nhap || json.gia_nhap_le || 0) },\n      { price_list: \"Retail Selling\",     price_list_rate: Number(json.gia_le || 0) },\n      { price_list: \"Wholesale Selling\",  price_list_rate: Number(json.gia_chan || 0) }\n    ].filter(p => p.price_list_rate > 0),\n    tax: { vat_percent: vat },\n    images: Array.isArray(json.hinh_anh) ? json.hinh_anh.filter(Boolean) : []\n  };\n\n  return {\n    json: {\n      payload_str: JSON.stringify(payload),\n      reference_doctype: \"Item\",\n      reference_name: payload.item_code,\n      operation: \"Create\",\n      retry_count: 0,\n      status: \"Pending\",\n      log_message: \"Auto-created for Item operation\",\n      create_date: new Date().toISOString(),\n      sync_time: null,\n      source_data: \"MBW NEXT\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        80
      ],
      "id": "1290c750-aad9-4b84-bf7d-19acc1a231e3",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -360,
        80
      ],
      "id": "704ab0c5-4054-43b7-9ccd-16b2222ce1d7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        80,
        160
      ],
      "id": "a4e5037f-9dd3-4208-8e54-b9661e69b697",
      "name": "Wait",
      "webhookId": "50056d38-ba2b-453c-9cda-522d0db3e7c6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -140,
        -120
      ],
      "id": "568f37ad-d1f4-4931-8c98-54b79d3b0709",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-09T09:01:24.349Z",
  "versionId": "8017cd5e-fab7-4685-894c-08a73ebbf0eb"
}