sinhthaihcm/2025/09/IwcawHPtgo8ZSmvH.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Add Customer To Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Item To Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Item To Queue": {
      "main": [
        [
          {
            "node": "Respond to Webhook Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook Customer": {
      "main": [
        []
      ]
    },
    "Add Customer To Queue": {
      "main": [
        [
          {
            "node": "Respond to Webhook Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-12T02:37:10.736Z",
  "id": "IwcawHPtgo8ZSmvH",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Webhook DMS Listen Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7072f742-2fb4-4000-b8ef-2e3a1ea5c667",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        -16
      ],
      "id": "92c3b81d-e499-4e4a-b68f-74ed1d009460",
      "name": "Webhook",
      "webhookId": "7072f742-2fb4-4000-b8ef-2e3a1ea5c667"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json['body']['type']}}",
                    "rightValue": "=DMS_Customers",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2a5fdb3f-54fb-4414-b3df-2ecc6762f233"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DMS_Customers"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d789fd9-c24a-4aea-8e06-2964706d3c63",
                    "leftValue": "={{$json['body']['type']}}",
                    "rightValue": "DMS_Items",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DMS_Items"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -208,
        -16
      ],
      "id": "842d910d-c976-42d3-b004-67fd4be0f839",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"Item\",\n  \"reference_name\": \"{{ $json.body.data[0].ma_sp }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{ JSON.stringify($json.body.data[0]) }},\n  \"log_message\": \"Item create from Webhook MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}\n"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        96,
        128
      ],
      "id": "24fccd75-f12a-4771-a7c9-78efa36bad5c",
      "name": "Add Item To Queue",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"message\": \"Item has insert Queue\"\n}",
        "options": {}
      },
      "id": "3c59292f-4b93-4ce2-bde1-915f0e0649ba",
      "name": "Respond to Webhook Item",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"message\": \"Customer has add to Queue\"\n}",
        "options": {}
      },
      "id": "1f33a4ff-7f0d-43cc-9c50-3e5ec59b2ce6",
      "name": "Respond to Webhook Customer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        -96
      ]
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"Customer\",\n  \"reference_name\": \"{{ $json.body.data[0].makh }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{ JSON.stringify($json.body.data[0]) }},\n  \"log_message\": \"Customer create from Webhook MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        96,
        -96
      ],
      "id": "38ace10b-9630-4014-86c5-78069479468f",
      "name": "Add Customer To Queue",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-12T02:37:10.736Z",
      "updatedAt": "2025-09-12T02:37:10.736Z",
      "role": "workflow:owner",
      "workflowId": "IwcawHPtgo8ZSmvH",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-22T06:56:01.721Z",
  "versionId": "44218b58-36a3-40d2-86ce-71d55781b596"
}