sinhthaihcm/2025/09/IzmIGlRRv0iyNKgh.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MBWD ERPNext": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Lấy sản phẩm trong ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy sản phẩm trong ERPNext": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu có tồn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "[Update] Chuyển đổi dữ liệu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Add] Chuyển đổi dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu có tồn": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập nhật Sản Phẩm": {
      "main": [
        [
          {
            "node": "Update Sync Item Status Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thêm mới Sản Phẩm": {
      "main": [
        [
          {
            "node": "Update Sync Item Status Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Update] Chuyển đổi dữ liệu": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Add] Chuyển đổi dữ liệu": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Item Group": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu Item Group tồn tại ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Brand": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu Brand tồn tại ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu Brand tồn tại ?": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu Item Group tồn tại ?": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Check Item Group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Item Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Brand": {
      "main": [
        [
          {
            "node": "Check Item Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Thêm mới Sản Phẩm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Item Group": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Cập nhật Sản Phẩm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data Info": {
      "main": [
        [
          {
            "node": "Write Logs To ERPNEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync Item Status Success": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T06:32:17.623Z",
  "id": "IzmIGlRRv0iyNKgh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[ERPNext] Cập nhật dữ liệu Sản phẩm từ Queue sang Item copy",
  "nodes": [
    {
      "parameters": {},
      "id": "3a3b1585-00c7-4c11-a851-b2788731d0bc",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1648,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "9be03688-de68-4f74-a0fc-3ef7618fcda2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1648,
        800
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "fields": "reference_doctype,reference_name,operation,payload,name",
        "filters": {
          "filter": [
            {
              "field": "source_data",
              "value": "MBW DMS"
            },
            {
              "field": "status",
              "operator": "in",
              "value": "Pending"
            },
            {
              "field": "reference_doctype",
              "value": "Item"
            }
          ]
        }
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1424,
        704
      ],
      "id": "d94c7c54-1469-4618-b3af-4eaee31dd52e",
      "name": "MBWD ERPNext",
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Biến một mảng trong 1 item thành nhiều item riêng\nfunction safeParse(value) {\n  if (typeof value !== 'string') return value;\n  const s = value?.trim?.() ?? '';\n  if (!s || (s[0] !== '{' && s[0] !== '[')) return value;\n  try { return JSON.parse(s); } catch { return value; }\n}\n\nconst all = $input.all();\nlet records;\n\n// 1) Trường hợp API trả về mảng ngay ở root\nif (Array.isArray(all[0]?.json)) {\n  records = all[0].json;\n\n// 2) Hoặc gói trong thuộc tính data\n} else if (Array.isArray(all[0]?.json?.data)) {\n  records = all[0].json.data;\n\n// 3) Hoặc đã là nhiều item sẵn\n} else {\n  records = all.map(i => i.json);\n}\n\n// Nếu mỗi record có trường payload dạng string → parse sang object (không bắt buộc)\nreturn records.map(r => {\n  const parsed = ('payload' in r) ? safeParse(r.payload) : r.payload;\n  return { json: { ...r, payload: parsed } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        704
      ],
      "id": "a4b05b6c-544c-410c-adb7-cf9e899179d0",
      "name": "Split"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -976,
        704
      ],
      "id": "ebf10fae-42d8-4b3b-ae8c-704d1ceabc50",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5,
        "path": "0ab5e0ab-6438-4104-a0b1-94754752156c"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        736
      ],
      "id": "d9f3eef3-bd7a-4837-81a5-fc779acb5fdf",
      "name": "Wait",
      "webhookId": "0ab5e0ab-6438-4104-a0b1-94754752156c"
    },
    {
      "parameters": {
        "doctype": "Item",
        "operation": "getById",
        "recordId": "={{ $json.reference_name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -768,
        624
      ],
      "id": "5a0ef764-fbad-4b86-b523-f6b92f8dc403",
      "name": "Lấy sản phẩm trong ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        624
      ],
      "id": "96d57834-5456-4757-b3f8-46e6223912f3",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Lấy sản phẩm trong ERPNext'); \n\n// Kiểm tra xem item đầu tiên có field name không\nconst first = arr[0]?.json || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,   // true nếu có giá trị name\n    existed_name: first.name || null,\n    data: arr[0]?.json || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        624
      ],
      "id": "33a0f827-ca52-4706-ab32-dcdfc52a6f64",
      "name": "Kiểm tra xem dữ liệu có tồn"
    },
    {
      "parameters": {
        "doctype": "Item",
        "operation": "update",
        "parameters": "={\n  \"item_code\": \"{{ $('[Update] Chuyển đổi dữ liệu').item.json.item_code }}\",\n  \"item_name\": \"{{ $('[Update] Chuyển đổi dữ liệu').item.json.item_name }}\",\n  \"item_group\": \"{{ $('[Update] Chuyển đổi dữ liệu').item.json.item_group }}\",\n  \"stock_uom\": \"{{ $('[Update] Chuyển đổi dữ liệu').item.json.stock_uom }}\",\n  \"custom_item_billing_code\": \"{{ $('[Update] Chuyển đổi dữ liệu').item.json.custom_item_billing_code}}\",\n  \"custom_item_billing_name\": \"{{ $('[Update] Chuyển đổi dữ liệu').item.json.custom_item_billing_name}}\",\n  \"is_stock_item\": 1,\n  \"standard_rate\": \"{{ $('[Update] Chuyển đổi dữ liệu').item.json.standard_rate}}\"\n}",
        "recordId": "={{ $('[Update] Chuyển đổi dữ liệu').item.json.item_code }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        320,
        528
      ],
      "id": "16a826b3-420b-45ab-982f-386dbaabdad8",
      "name": "Cập nhật Sản Phẩm",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Item",
        "operation": "create",
        "parameters": "={\n  \"item_code\": \"{{ $('[Add] Chuyển đổi dữ liệu').item.json.item_code }}\",\n  \"item_name\": \"{{ $('[Add] Chuyển đổi dữ liệu').item.json.item_name }}\",\n  \"item_group\": \"{{ $('[Add] Chuyển đổi dữ liệu').item.json.item_group }}\",\n  \"stock_uom\": \"{{ $('[Add] Chuyển đổi dữ liệu').item.json.stock_uom }}\",\n  \"custom_item_billing_code\": \"{{ $('[Add] Chuyển đổi dữ liệu').item.json.custom_item_billing_code}}\",\n  \"custom_item_billing_name\": \"{{ $('[Add] Chuyển đổi dữ liệu').item.json.custom_item_billing_name}}\",\n  \"is_stock_item\": 1,\n  \"standard_rate\": \"{{ $('[Add] Chuyển đổi dữ liệu').item.json.standard_rate}}\",\n  \"brand\":\"{{ $('[Add] Chuyển đổi dữ liệu').item.json.brand }}\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        320,
        720
      ],
      "id": "a2fa3d80-c43c-4ed5-87cd-2e92342a65db",
      "name": "Thêm mới Sản Phẩm",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cur = $('Split').item.json;\n\n// payload chính\nconst p = cur.payload || {};\n\n// lấy item_group = phần tử cuối cùng\nlet itemGroup;\n// lấy group cha = phần tử áp chót\nlet parentItemGroup;\n\nif (Array.isArray(p.item_group_path) && p.item_group_path.length > 0) {\n  itemGroup = p.item_group_path[p.item_group_path.length - 1];\n  if (p.item_group_path.length > 1) {\n    parentItemGroup = p.item_group_path[p.item_group_path.length - 2];\n  }\n}\n\n// tìm standard_rate trong prices (ưu tiên Retail Selling)\nlet standardRate;\nif (Array.isArray(p.prices)) {\n  const retail = p.prices.find(pr => pr.price_list === \"Retail Selling\");\n  if (retail && Number(retail.price_list_rate) > 0) {\n    standardRate = retail.price_list_rate;\n  } else {\n    // fallback: lấy giá đầu tiên nếu không có Retail Selling\n    const first = p.prices[0];\n    if (first && Number(first.price_list_rate) > 0) {\n      standardRate = first.price_list_rate;\n    }\n  }\n}\n\nconst out = {\n  item_code: p.item_code,\n  item_name: p.item_name,\n  item_group: itemGroup,\n  parent_item_group: parentItemGroup,\n  stock_uom: p.stock_uom,\n  brand: p.brand || \"\",\n  custom_item_billing_code: p.custom_item_billing_code || \"\",\n  custom_item_billing_name: p.custom_item_billing_name || \"\",\n  is_stock_item: 1,\n  standard_rate: standardRate,\n};\n\n\n\nreturn { json: out };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        528
      ],
      "id": "a46d0896-1ce0-46d2-94e3-89ac27a4a11f",
      "name": "[Update] Chuyển đổi dữ liệu"
    },
    {
      "parameters": {
        "jsCode": "const cur = $('Split').item.json;\n\n// payload chính\nconst p = cur.payload || {};\n\n// lấy item_group = phần tử cuối cùng\nlet itemGroup;\n// lấy group cha = phần tử áp chót\nlet parentItemGroup;\n\nif (Array.isArray(p.item_group_path) && p.item_group_path.length > 0) {\n  itemGroup = p.item_group_path[p.item_group_path.length - 1];\n  if (p.item_group_path.length > 1) {\n    parentItemGroup = p.item_group_path[p.item_group_path.length - 2];\n  }\n}\n\n// tìm standard_rate trong prices (ưu tiên Retail Selling)\nlet standardRate;\nif (Array.isArray(p.prices)) {\n  const retail = p.prices.find(pr => pr.price_list === \"Retail Selling\");\n  if (retail && Number(retail.price_list_rate) > 0) {\n    standardRate = retail.price_list_rate;\n  } else {\n    // fallback: lấy giá đầu tiên nếu không có Retail Selling\n    const first = p.prices[0];\n    if (first && Number(first.price_list_rate) > 0) {\n      standardRate = first.price_list_rate;\n    }\n  }\n}\n\nconst out = {\n  item_code: p.item_code,\n  item_name: p.item_name,\n  item_group: itemGroup,\n  parent_item_group: parentItemGroup,\n  stock_uom: p.stock_uom,\n  brand: p.brand || \"\",\n  custom_item_billing_code: p.custom_invoice_item_code || \"\",\n  custom_item_billing_name: p.custom_invoice_item_name || \"\",\n  is_stock_item: 1,\n  standard_rate: standardRate,\n};\n\n\n\nreturn { json: out };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        720
      ],
      "id": "bb763950-cfbc-408a-a213-39e8eaf9f3e8",
      "name": "[Add] Chuyển đổi dữ liệu"
    },
    {
      "parameters": {
        "content": "## Sub Workflow",
        "height": 652,
        "width": 2523,
        "color": 6
      },
      "id": "4454bbf5-6ea2-4b0b-a68d-0ad6514f82e4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1824,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "3bc6c336-b93f-49c9-aa89-86e4b7648384",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1744,
        1248
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "doctype": "Item Group",
        "operation": "getById",
        "recordId": "={{$node[\"Execute Workflow Trigger\"].json.item_group}}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -736,
        1232
      ],
      "id": "1c051fe2-0e89-470d-ad49-7a765e8e0cb4",
      "name": "Check Item Group",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Brand",
        "operation": "getById",
        "recordId": "={{ $json[\"brand\"] }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1536,
        1248
      ],
      "id": "8a29b745-ea95-42d2-b650-fe7dce4501d5",
      "name": "Check Brand",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Check Brand'); \n\n// Kiểm tra xem item đầu tiên có field name không\nconst first = arr[0]?.json || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,   // true nếu có giá trị name\n    existed_name: first.name || null,\n    data: arr[0]?.json || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        1248
      ],
      "id": "741625af-7820-4630-ad1c-0ab0a964c54d",
      "name": "Kiểm tra xem dữ liệu Brand tồn tại ?"
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Check Item Group'); \n\n// Kiểm tra xem item đầu tiên có field name không\nconst first = arr[0]?.json || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,   // true nếu có giá trị name\n    existed_name: first.name || null,\n    data: arr[0]?.json || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        1232
      ],
      "id": "e2f7303f-dc04-432f-af48-9806b03be4e7",
      "name": "Kiểm tra xem dữ liệu Item Group tồn tại ?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        1248
      ],
      "id": "ddcff876-7fe8-4f23-b849-0b3c52bcaf03",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        1232
      ],
      "id": "354b0e16-f6a9-43df-9812-2d22e765f7f6",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "Brand",
        "operation": "create",
        "parameters": "={\"brand\":\"{{$node[\"Execute Workflow Trigger\"].json.brand}}\"}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1008,
        1408
      ],
      "id": "57feea3a-5071-4201-a5fc-7c2cc9d91910",
      "name": "Create Brand",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "0d52a15b-9433-4e0f-80f9-8d4258a3ac43",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        80,
        1216
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$workflow.id}}",
          "cachedResultName": "={{$workflow.id}}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        112,
        720
      ],
      "id": "37e20c3e-0c1f-44cf-8719-d3a8527aba26",
      "name": "Execute Workflow",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "Item Group",
        "operation": "create",
        "parameters": "={\"item_group_name\":\"{{$node[\"Execute Workflow Trigger\"].json.item_group}}\",\"parent_item_group\":\"{{$node[\"Execute Workflow Trigger\"].json.parent_item_group}}\"}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -128,
        1408
      ],
      "id": "4e859ed0-10c8-4e21-92fd-bb72457cb5ab",
      "name": "Create Item Group",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$workflow.id}}",
          "cachedResultName": "={{$workflow.id}}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        112,
        528
      ],
      "id": "b19368a0-fb13-4122-8e7a-c4e98fd5df5e",
      "name": "Execute Workflow1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "MBWNext Integration Logs",
        "operation": "create",
        "parameters": "={\n  \"sync_type\": \"Item\",\n  \"records_processed\": \"{{ $items().length }}\",\n  \"status\": \"Success\",\n  \"log_message\": \"\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -544,
        416
      ],
      "id": "1d6b3cab-9b2a-4e1f-9543-bf2d43b1c74d",
      "name": "Write Logs To ERPNEXT",
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "inner"
      },
      "name": "Merge Data Info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -768,
        416
      ],
      "id": "decfea0b-b0d1-413c-ac64-ec5ee9310e4f"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "update",
        "parameters": "={\"status\":\"Success\"}",
        "recordId": "={{ $('Loop Over Items').item.json.name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        528,
        640
      ],
      "id": "c8bfc862-1f58-4810-ab97-aa677c2741ee",
      "name": "Update Sync Item Status Success",
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T06:32:17.623Z",
      "updatedAt": "2025-09-24T06:32:17.623Z",
      "role": "workflow:owner",
      "workflowId": "IzmIGlRRv0iyNKgh",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:23.942Z",
      "updatedAt": "2025-09-09T08:58:23.942Z",
      "id": "UusOo5b8CqNpNaGd",
      "name": "Background Job Queue"
    },
    {
      "createdAt": "2025-09-03T07:48:49.315Z",
      "updatedAt": "2025-09-03T07:48:49.315Z",
      "id": "HmMyDMy8FTsYQkDm",
      "name": "ERPNext"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-24T06:36:44.572Z",
  "versionId": "67fdd3a7-e714-4728-a0f2-a5343c556c8e"
}