sinhthaihcm/2025/09/n8QuJi9LCJZzejnD.json
{
  "active": false,
  "connections": {
    "Check Data Existence": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preserve Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Data Exists": {
      "main": [
        [],
        [
          {
            "node": "Create UOM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data Info": {
      "main": [
        [
          {
            "node": "Write Logs To ERPNEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Data": {
      "main": [
        [
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Unit in MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches1": {
      "main": [
        [
          {
            "node": "IF Data Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unit in MobiworkDMS": {
      "main": [
        [
          {
            "node": "UOM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UOM": {
      "main": [
        [
          {
            "node": "Check Data Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create UOM": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T06:31:47.971Z",
  "id": "n8QuJi9LCJZzejnD",
  "isArchived": false,
  "meta": null,
  "name": "[DMS] Đồng bộ dữ liệu Đơn Vị Tính DMS -> ERPNext copy",
  "nodes": [
    {
      "parameters": {
        "functionCode": "// Lấy dữ liệu từ 2 nguồn\nconst dmsData = $node['Get Unit in MobiworkDMS'].json.data || [];\nconst erpData = $json || [];   // ERPNext trả về array UOM\n\n// Chuẩn hóa ERP thành mảng mã (uppercase để so sánh)\nconst erpCodes = erpData.map(u => (u.name || '').toUpperCase());\n\n// Lọc ra những đơn vị tính chỉ có ở DMS mà không có trong ERP\nreturn dmsData\n  .filter(d => d.ma && !erpCodes.includes(d.ma.toUpperCase()))\n  .map(d => ({\n    json: {\n      isExists: false,   // ERP chưa có\n      id: d.id || null,\n      ma: d.ma,\n      ten: d.ten,\n      trang_thai: d.trang_thai,\n      stt: d.stt\n    }\n  }));"
      },
      "name": "Check Data Existence",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -220,
        160
      ],
      "id": "69e64395-23c3-468f-a5ee-bce98dbdde70",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json['isExists'] }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Data Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        260
      ],
      "id": "c839186c-c13c-4815-8091-2f7006d01545",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "MBWNext Integration Logs",
        "operation": "create",
        "parameters": "{\n\n  \"sync_type\": \"UOM\",\n  \"records_processed\": \"2\",\n  \"status\": \"Success\",\n  \"log_message\": \"123\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        440,
        60
      ],
      "id": "8a91a956-8a16-4e46-926a-7daf21014e4b",
      "name": "Write Logs To ERPNEXT",
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "inner"
      },
      "name": "Merge Data Info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        220,
        60
      ],
      "id": "9d266456-d58d-4f5c-8eb5-bfe32049c46c"
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{ json: $json }];"
      },
      "name": "Preserve Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0b87c738-2f70-47be-809f-f52cd16003dc",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        160
      ],
      "id": "20745c62-31e9-442c-8baf-d1283804b88f",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "72e7c927-c308-4bf4-97ce-8cae99eff678",
      "name": "SplitInBatches1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        0,
        260
      ],
      "typeVersion": 2,
      "notesInFlow": true
    },
    {
      "parameters": {
        "amount": 1,
        "path": "26fef09c-0755-40ba-8771-e8d430d4b1eb"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        380
      ],
      "id": "43fb3f11-55e0-46f1-aed8-e09cae152f3a",
      "name": "Wait",
      "webhookId": "26fef09c-0755-40ba-8771-e8d430d4b1eb"
    },
    {
      "parameters": {
        "resource": "unit",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -660,
        160
      ],
      "id": "42d27b02-68ea-4f12-ae7e-4bd8f8ce0f27",
      "name": "Get Unit in MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "CL08GJJwCUpHDevr",
          "name": "MBW DMS Open APIs "
        }
      }
    },
    {
      "parameters": {
        "doctype": "UOM",
        "fields": "uom_name,name"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -440,
        160
      ],
      "id": "b8e9c2b3-2543-496c-af1f-fe1892a3b63d",
      "name": "UOM",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "doctype": "UOM",
        "operation": "create",
        "parameters": "={\"uom_name\":\"{{ $json['ten'] }}\"}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        440,
        260
      ],
      "id": "2cf8d502-7d37-4ab2-ab0e-4ba927128baa",
      "name": "Create UOM",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T06:31:47.971Z",
      "updatedAt": "2025-09-24T06:31:47.971Z",
      "role": "workflow:owner",
      "workflowId": "n8QuJi9LCJZzejnD",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-24T06:36:39.641Z",
  "versionId": "84d2efcc-cc3b-446a-9aeb-bbed56ffea27"
}