sinhthaihcm/2025/09/n8QuJi9LCJZzejnD.json
{
  "active": false,
  "connections": {
    "Check Data Existence": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Data Exists": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Unit in MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "UOM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unit in MobiworkDMS": {
      "main": [
        [
          {
            "node": "Check Data Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UOM": {
      "main": [
        [
          {
            "node": "Get Unit in MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Unit in MobiworkDMS": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "IF Data Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Logs To ERPNEXT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T06:31:47.971Z",
  "id": "n8QuJi9LCJZzejnD",
  "isArchived": false,
  "meta": null,
  "name": "[DMS] Đồng bộ dữ liệu Đơn Vị Tính DMS -> ERPNext",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const mobiworkData = $node['Get Unit in MobiworkDMS'].json.data || {};\n\nlet mbwUnit = [];\n\nif (Array.isArray(mobiworkData)) {\n  mbwUnit = mobiworkData;\n} else if (mobiworkData && Array.isArray(mobiworkData.data)) {\n  mbwUnit = mobiworkData.data;\n} else {\n  mbwUnit = [];\n}\n\n// Dữ liệu ERPNEXT\nconst inputItems = $node['UOM'].json || [];  // mảng input\nconsole.log(\"items\", inputItems)\nreturn inputItems.map(item => {\n  const ma = item.name || '';\n  // Kiểm tra nếu item có parent_territory là null\n  if (!ma) {\n    return null;  // Nếu có parent_territory null, bỏ qua item đó\n  }\n\n  const existing = mbwUnit.find(data => data.ma === ma);\n  return {\n    json: {\n      isExists: !!existing,\n      id: existing ? existing.id : null,\n      ma: ma,\n      ten: item.uom_name || '',\n      trang_thai: true,\n      stt: 1\n    }\n  };\n}).filter(Boolean);  // Lọc bỏ các item có giá trị null\n"
      },
      "name": "Check Data Existence",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -208,
        192
      ],
      "id": "69e64395-23c3-468f-a5ee-bce98dbdde70",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json['isExists'] }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Data Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        192
      ],
      "id": "c839186c-c13c-4815-8091-2f7006d01545",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        192
      ],
      "id": "20745c62-31e9-442c-8baf-d1283804b88f",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        272
      ],
      "id": "43fb3f11-55e0-46f1-aed8-e09cae152f3a",
      "name": "Wait",
      "webhookId": "26fef09c-0755-40ba-8771-e8d430d4b1eb"
    },
    {
      "parameters": {
        "resource": "unit",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -432,
        192
      ],
      "id": "42d27b02-68ea-4f12-ae7e-4bd8f8ce0f27",
      "name": "Get Unit in MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "2SVxatk3bkSth64j",
          "name": "MBW DMS Cloud"
        }
      }
    },
    {
      "parameters": {
        "doctype": "UOM",
        "fields": "uom_name,name"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -656,
        192
      ],
      "id": "b8e9c2b3-2543-496c-af1f-fe1892a3b63d",
      "name": "UOM",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "MBW DMS Cloud ERPNext"
        }
      }
    },
    {
      "parameters": {
        "resource": "unit",
        "operation": "create",
        "data": "={\"ten\":\"{{ $('SplitInBatches').item.json.ten }}\",\"ma\":\"{{ $('SplitInBatches').item.json.ma }}\",\"trang_thai\": true,\"stt\":1} "
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        448,
        304
      ],
      "id": "6f6a4e68-c125-4ade-9750-edfe23054344",
      "name": "Create Unit in MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "2SVxatk3bkSth64j",
          "name": "MBW DMS Cloud"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "72e7c927-c308-4bf4-97ce-8cae99eff678",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        16,
        192
      ],
      "typeVersion": 2,
      "notesInFlow": true
    },
    {
      "parameters": {
        "doctype": "MBWNext Integration Logs",
        "operation": "create",
        "parameters": "={\n  \"sync_type\": \"UOM\",\n  \"records_processed\": \"{{ $('Check Data Existence').all().length}}\",\n  \"status\": \"Success\",\n  \"log_message\": \"Đồng bộ dữ liệu UOM thành công\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "169c40c8-6606-4248-93ee-264744c24eac",
      "name": "Write Logs To ERPNEXT1",
      "executeOnce": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "MBW DMS Cloud ERPNext"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T06:31:47.971Z",
      "updatedAt": "2025-09-24T06:31:47.971Z",
      "role": "workflow:owner",
      "workflowId": "n8QuJi9LCJZzejnD",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    },
    {
      "createdAt": "2025-09-25T07:56:38.911Z",
      "updatedAt": "2025-09-25T07:56:38.911Z",
      "id": "U2rTcFSAg0Nbuwfe",
      "name": "Đã hoàn thành"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-29T04:09:22.648Z",
  "versionId": "c6005cd0-8a3b-4150-9c73-f2c291f1c107"
}