sinhthaihcm/2025/09/nPSv2dpA7B2ROu8j.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Lấy Khách Hàng MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MBWD ERPNext": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Khách Hàng MobiworkDMS": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-22T10:19:20.999Z",
  "id": "nPSv2dpA7B2ROu8j",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[DMS] Đồng bộ dữ liệu khách hàng từ MBWDMS -> ERPNext",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        208
      ],
      "id": "223860d6-34de-47c1-97a2-67d96259eef0",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"Customer\",\n  \"reference_name\": \"{{ $json.reference_name }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{JSON.stringify($json.payload_str)}},\n  \"log_message\": \"Customer create from Sync MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "95d6a48d-a725-475e-a4e9-7eb0e9550250",
      "name": "MBWD ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === Lấy dữ liệu trả về từ Node API ===\nconst apiResponse = items[0].json;\nconst customers = apiResponse.data || [];\n\nreturn customers.map(customer => {\n\n  // === 1. Chuẩn hóa dữ liệu cơ bản ===\n  const customerCode = (customer.makh || \"\").trim();\n  const customerName = (customer.tenkh || \"\").trim();\n\n  const groupPath = (customer.nhom_kh || \"\").trim();\n  const status = (customer.trang_thai_kh || \"\").toLowerCase() === \"hoạt động\" ? \"Active\" : \"Disabled\";\n  const creditLimit = Number(customer.han_muc_cn || 0);\n\n  // === 2. Thông tin liên hệ (Contact) ===\n  const contact = {\n    first_name: (customer.nguoi_lien_he || \"\").trim(),\n    designation: (customer.chuc_vu || \"\").trim(),\n    phone: (customer.sdt || \"\").trim(),\n    email_id: (customer.email || \"\").trim(),\n    birthday: customer.sinh_nhat && customer.sinh_nhat !== \"1970-01-01T00:00:00.000Z\"\n      ? customer.sinh_nhat\n      : null\n  };\n\n  // === 3. Địa chỉ (Address) ===\n  const address = {\n    // Địa chỉ chính của khách hàng\n    address_primary: (customer.dia_chi || \"\").trim(),\n    // Địa chỉ giao hàng\n    address_Shipping: (customer.dc_giao_hangnh || \"\").trim(),\n    // Địa chỉ xuất hóa đơn\n    billing_address: (customer.dia_chi_xuat_hoa_don || \"\").trim(),\n    city: \"\",\n    country: \"Vietnam\"\n  };\n\n  // === 4. Payload đầy đủ cho ERPNext ===\n  const payload = {\n    doctype: \"Customer\",\n\n    // Thông tin chính\n    customer_code: customerCode,\n    customer_name: customerName,\n    customer_group_path: groupPath,\n    customer_type: (customer.loai_kh || \"\").trim(),\n    status: status,\n    credit_limit: creditLimit,\n    custom_channel: (customer.kenh || \"\").trim(),\n\n    // **Thông tin xuất hóa đơn & phân loại**\n    ma_khach_hang_xuat_hoa_don: (customer.ma_khach_hang_xuat_hoa_don || \"\").trim(),\n    ho_va_ten_khach_hang: (customer.ho_va_ten_khach_hang || \"\").trim(),\n    phan_loai_khach_hang_ma: (customer.phan_loai_khach_hang_ma || \"\").trim(),\n    phan_loai_khach_hang: (customer.phan_loai_khach_hang || \"\").trim(),\n    dia_chi_xuat_hoa_don: (customer.dia_chi_xuat_hoa_don || \"\").trim(),\n    mo_ta_kmxuat_hoa_don_ma: (customer.mo_ta_kmxuat_hoa_don_ma || \"\").trim(),\n    mo_ta_kmxuat_hoa_don: (customer.mo_ta_kmxuat_hoa_don || \"\").trim(),\n\n    // Địa chỉ và liên hệ\n    address,\n    contact,\n\n    // Metadata phục vụ kiểm tra\n    metadata: {\n      created_by: (customer.nguoi_tao || \"\").trim(),\n      updated_by: (customer.nguoi_sua || \"\").trim(),\n      last_updated_at: customer.ngay_cap_nhat || new Date().toISOString()\n    }\n  };\n\n  // === 5. Trả về dữ liệu đầy đủ ===\n  return {\n    json: {\n      \n\n      // Thêm thông tin chuẩn hóa cho ERPNext\n      payload_str: JSON.stringify(payload),\n      reference_doctype: \"Customer\",\n      reference_name: customerCode,\n      operation: \"Create\",\n      retry_count: 0,\n      status: \"Pending\",\n      log_message: \"Auto-created for Customer operation\",\n      create_date: new Date().toISOString(),\n      sync_time: null,\n      source_data: \"MBW NEXT\"\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        208
      ],
      "id": "d47fd761-ad47-4514-8971-05dd29d4c620",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        208
      ],
      "id": "f5d79e28-9323-4314-957e-ef152c059e3d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        288
      ],
      "id": "5dc09b2f-db4e-477c-b48d-5e2096954b50",
      "name": "Wait",
      "webhookId": "48081062-bbaa-42a8-87c4-93c39bf021d5"
    },
    {
      "parameters": {
        "additionalFields": {
          "page": 1,
          "pageSize": 10
        }
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -656,
        208
      ],
      "id": "78ab9c0e-f96a-47f7-8d1d-0091b7e2d125",
      "name": "Lấy Khách Hàng MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "CL08GJJwCUpHDevr",
          "name": "MBW DMS Open APIs "
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yvQgnKcC1HprLg13",
          "mode": "list",
          "cachedResultName": "[ERPNext] Cập nhật dữ liệu Sản phẩm từ Queue sang Item"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a5ec5c10-82cb-49e6-9290-83a761e5c8ae",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-22T10:19:20.999Z",
      "updatedAt": "2025-09-22T10:19:20.999Z",
      "role": "workflow:owner",
      "workflowId": "nPSv2dpA7B2ROu8j",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-22T10:19:23.338Z",
  "versionId": "f7856db5-3d54-4261-87a6-7a51ac833c02"
}