sinhthaihcm/2025/09/rhG1FzJKl6c2OCGh.json
{
  "active": false,
  "connections": {
    "Check Data Existence": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preserve Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Data Exists": {
      "main": [
        [],
        [
          {
            "node": "Create UOM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data Info": {
      "main": [
        [
          {
            "node": "Write Logs To ERPNEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Data": {
      "main": [
        [
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Industry in MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches1": {
      "main": [
        [
          {
            "node": "IF Data Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create UOM": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Industry in MobiworkDMS": {
      "main": [
        [
          {
            "node": "Item Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Group": {
      "main": [
        [
          {
            "node": "Check Data Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T06:32:03.084Z",
  "id": "rhG1FzJKl6c2OCGh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[DMS] Đồng bộ dữ liệu Ngành Hàng DMS -> ERPNext copy",
  "nodes": [
    {
      "parameters": {
        "functionCode": "// === INPUT ===\n// $node['Get Industry in MobiworkDMS'].json.data  -> DMS list (ma, ten, parentid, trang_thai, stt, ...)\n// $json                                           -> ERP list (name, item_group_name, parent_item_group, is_group)\n\n// Helper chuẩn hóa so sánh (unicode + khoảng trắng + in hoa)\nconst N = (s) => (s ?? '').toString().normalize('NFC').trim().toUpperCase();\n\n// 1) Lấy dữ liệu\nconst dmsRaw = $node['Get Industry in MobiworkDMS'].json?.data ?? [];\nconst erpRaw = Array.isArray($json) ? $json : [];\n\n// 2) Tập mã/ten đang có trên ERP (so sánh theo 'name')\nconst erpNames = new Set(erpRaw.map(x => N(x.name)).filter(Boolean));\n\n// 3) Chuẩn hóa DMS\nconst dms = dmsRaw\n  .map(x => ({\n    code: (x.ma ?? '').toString().trim(),         // sẽ dùng làm name khi tạo\n    name: (x.ten ?? '').toString().trim(),        // item_group_name\n    parent: (x.parentid ?? '').toString().trim(), // rỗng => root\n    active: x.trang_thai !== false,\n    stt: x.stt ?? null,\n  }))\n  .filter(x => x.code && x.name); // bắt buộc có mã & tên\n\n// 4) Map nhanh theo code để lần parent\nconst dmsByCode = new Map(dms.map(x => [x.code, x]));\n\n// 5) Những code cần tạo (chưa có trên ERP)\nconst needCreate = new Set(\n  dms.filter(x => !erpNames.has(N(x.code))).map(x => x.code)\n);\n\n// 6) Đảm bảo chuỗi cha → con\nconst visited = new Set();\nconst ordered = [];\n\nfunction ensureChain(code) {\n  if (visited.has(code)) return;\n  visited.add(code);\n  const cur = dmsByCode.get(code);\n  if (!cur) return;\n\n  if (cur.parent) {\n    const parentOnErp = erpNames.has(N(cur.parent));\n    if (!parentOnErp && dmsByCode.has(cur.parent)) {\n      ensureChain(cur.parent); // đẩy cha vào trước\n    }\n  }\n  ordered.push(cur);\n}\n\nfor (const code of needCreate) ensureChain(code);\n\n// 7) Trả mảng để tạo (nếu rỗng -> [])\nconst out = ordered.map(x => ({\n  json: {\n    // Trường dùng cho Create Item Group\n    name: x.code,                       // muốn đặt \"name\" = mã DMS\n    item_group_name: x.name,            // tên hiển thị\n    parent_item_group: x.parent || undefined, // root thì undefined\n    is_group: x.parent ? 0 : 1,         // root là group cha\n    // Thêm vài flag/memo nếu cần\n    dms_code: x.code,\n    active: x.active,\n    stt: x.stt,\n  }\n}));\n\nreturn out.length ? out : [];\n"
      },
      "name": "Check Data Existence",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -224,
        160
      ],
      "id": "bb0b519e-4565-408e-9f15-f0b89ef5d7c6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json['isExists'] }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Data Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        224,
        256
      ],
      "id": "c2377004-fb41-44e2-af95-26915b0285b6",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "MBWNext Integration Logs",
        "operation": "create",
        "parameters": "{\n\n  \"sync_type\": \"UOM\",\n  \"records_processed\": \"2\",\n  \"status\": \"Success\",\n  \"log_message\": \"123\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        448,
        64
      ],
      "id": "a9a84876-0cef-458a-84af-bcf35624d653",
      "name": "Write Logs To ERPNEXT",
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "inner"
      },
      "name": "Merge Data Info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        224,
        64
      ],
      "id": "0e5b72c8-f445-403a-ab94-574147b3c0b1"
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{ json: $json }];"
      },
      "name": "Preserve Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "10c13a13-f0de-47ce-8fee-5925cc0dd56d",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        160
      ],
      "id": "ae909668-55ce-4822-959c-c74da9e46214",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "dcf262ac-afdf-419c-adb2-d6d5f85e2faf",
      "name": "SplitInBatches1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        0,
        256
      ],
      "typeVersion": 2,
      "notesInFlow": true
    },
    {
      "parameters": {
        "amount": 1,
        "path": "caf9e7ab-4982-475f-af39-6bd534a6ca10"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        384
      ],
      "id": "6cf262d1-fff1-442d-85df-933c7e7136d5",
      "name": "Wait",
      "webhookId": "caf9e7ab-4982-475f-af39-6bd534a6ca10"
    },
    {
      "parameters": {
        "doctype": "Item Group",
        "operation": "create",
        "parameters": "={\n  \"name\": \"{{ $json.name }}\",\n  \"item_group_name\": \"{{ $json.item_group_name }}\",\n  \"is_group\": {{ $json.is_group }},\n  \"parent_item_group\": \"{{ $json.parent_item_group }}\",\n  \"custom_dms_code\": \"{{ $json.dms_code }}\",\n  \"custom_active\": {{ $json.active ? 1 : 0 }},\n  \"custom_stt\": \"{{ $json.stt ? $json.stt : undefined }}\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        448,
        256
      ],
      "id": "2d8e5a61-7e32-4d7f-a05a-26d5f332e552",
      "name": "Create UOM",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "industry",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -656,
        160
      ],
      "id": "0376f0c3-7db8-4070-83c9-30407bb2c321",
      "name": "Get Industry in MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "CL08GJJwCUpHDevr",
          "name": "MBW DMS Open APIs "
        }
      }
    },
    {
      "parameters": {
        "doctype": "Item Group",
        "fields": "name,item_group_name,parent_item_group,is_group"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -448,
        160
      ],
      "id": "7afd0745-85ff-408c-a78f-53616dc1576d",
      "name": "Item Group",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T06:32:03.084Z",
      "updatedAt": "2025-09-24T06:32:03.084Z",
      "role": "workflow:owner",
      "workflowId": "rhG1FzJKl6c2OCGh",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-24T06:36:41.271Z",
  "versionId": "d4e482cb-289c-4ee1-a9c8-b92255733974"
}