sinhthaihcm/2025/09/T8MQEWi8sgajMSb6.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Lấy sản phẩm MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy sản phẩm MobiworkDMS": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MBWD ERPNext": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T06:32:13.217Z",
  "id": "T8MQEWi8sgajMSb6",
  "isArchived": false,
  "meta": null,
  "name": "[DMS] Đồng bộ dữ liệu sản phẩm từ MBWDMS -> ERPNext copy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        80
      ],
      "id": "4847fbb5-27f9-4284-8cbd-48a6540d96c0",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "product",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -800,
        80
      ],
      "id": "24b1364a-71ad-492e-b6cd-49b1c99417f2",
      "name": "Lấy sản phẩm MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "CL08GJJwCUpHDevr",
          "name": "MBW DMS Open APIs "
        }
      }
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"Item\",\n  \"reference_name\": \"{{ $json.reference_name }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{JSON.stringify($json.payload_str)}},\n  \"log_message\": \"Item create from Sync MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -140,
        80
      ],
      "id": "3ac17057-9117-4656-9bf3-922e06f6977b",
      "name": "MBWD ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// items: array sản phẩm từ MobiWork\nreturn items.map(({ json }) => {\n  // Chuẩn hóa nhóm hàng -> mảng\n  const groupPath = (json.nganh_hang || '').split('>').map(s => s.trim()).filter(Boolean);\n\n  // Đo VAT %\n  const vat = Number(json.vat || 0);\n\n  // Hệ số quy đổi (dvt_chan -> dvt_le)\n  const factor = Number(json.hsqđ || json.hsgd || json.hsg || json.hsqd || 1);\n\n  const payload = {\n    doctype: \"Item\",\n    item_code: (json.ma_sp || \"\").trim(),\n    item_name: (json.ten_sp || \"\").trim(),\n    brand: (json.nhan_hieu || \"\").trim(),\n    item_group_path: groupPath,\n    default_supplier: (json.nha_cung_cap || \"\").trim(),\n    stock_uom: (json.dvt_le || \"Nos\").trim(),\n    description: json.mo_ta || \"\",\n    is_stock_item: 1,\n    disabled: 0,\n    custom_invoice_item_name: json.ten_xuat_hoa_don || \"\",\n    custom_invoice_item_code: json.ma_xuat_hoa_don || \"\",\n    uom_conversions: {\n      big_uom: json.dvt_chan || \"\",\n      small_uom: json.dvt_le || \"\",\n      factor\n    },\n    barcodes: json.ma_vach ? [{\n      barcode: String(json.ma_vach),\n      barcode_type: String(json.ma_vach).length === 13 ? \"EAN-13\" : \"Code128\"\n    }] : [],\n    prices: [\n      { price_list: \"Standard Buying\",    price_list_rate: Number(json.gia_nhap || json.gia_nhap_le || 0) },\n      { price_list: \"Retail Selling\",     price_list_rate: Number(json.gia_le || 0) },\n      { price_list: \"Wholesale Selling\",  price_list_rate: Number(json.gia_chan || 0) }\n    ].filter(p => p.price_list_rate > 0),\n    tax: { vat_percent: vat },\n    images: Array.isArray(json.hinh_anh) ? json.hinh_anh.filter(Boolean) : []\n  };\n\n  return {\n    json: {\n      payload_str: JSON.stringify(payload),\n      reference_doctype: \"Item\",\n      reference_name: payload.item_code,\n      operation: \"Create\",\n      retry_count: 0,\n      status: \"Pending\",\n      log_message: \"Auto-created for Item operation\",\n      create_date: new Date().toISOString(),\n      sync_time: null,\n      source_data: \"MBW NEXT\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        80
      ],
      "id": "7253baa2-9f6f-4de9-a8b6-29fdf5263105",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -360,
        80
      ],
      "id": "90bc362e-4241-475f-bc80-c373385f8905",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5,
        "path": "c73ea39a-38c6-4f66-a437-7b67976ecbe5"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        80,
        160
      ],
      "id": "bb69580f-d970-493f-a1bf-81b757faf8ba",
      "name": "Wait",
      "webhookId": "c73ea39a-38c6-4f66-a437-7b67976ecbe5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -140,
        -120
      ],
      "id": "9107fea9-75ea-4fd4-8bf7-a5b66bb8dbd1",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T06:32:13.217Z",
      "updatedAt": "2025-09-24T06:32:13.217Z",
      "role": "workflow:owner",
      "workflowId": "T8MQEWi8sgajMSb6",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-24T06:36:42.829Z",
  "versionId": "36173be1-3df1-48de-93d1-4aefcde9f17e"
}