sinhthaihcm/2025/09/U90RaIXnEj9tpi5w.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Channel in MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Create Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Existence": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preserve Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Data": {
      "main": [
        [
          {
            "node": "Merge Data Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data Info": {
      "main": [
        [
          {
            "node": "Write Logs To ERPNEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channel in MobiworkDMS": {
      "main": [
        [
          {
            "node": "DMS Sale Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DMS Sale Channel": {
      "main": [
        [
          {
            "node": "Check Data Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Channel": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-29T04:15:30.543Z",
  "id": "U90RaIXnEj9tpi5w",
  "isArchived": false,
  "meta": null,
  "name": "[MBW DMS Cloud] Đồng bộ dữ liệu Channel ERPNext -> DMS",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1536,
        240
      ],
      "id": "41eed2a7-3a3c-4b82-85ea-8cd91f3d2d23",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "c2a6797d-d700-48db-ac4f-67a448bd55b0",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -656,
        352
      ],
      "typeVersion": 2,
      "notesInFlow": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -208,
        352
      ],
      "id": "1fff69f5-3d59-44c5-8a6c-c8016faa8303",
      "name": "Wait1",
      "webhookId": "032098e3-b118-4605-8131-0035c9917fb1"
    },
    {
      "parameters": {
        "functionCode": "// === INPUT ===\n// $node['Get Channel in MobiworkDMS'].json -> DMS data\n// $json -> ERP data (dms_sales_chanel_code, dms_sale_chanel_name)\n\n// Helper chuẩn hóa (unicode + trim + uppercase)\nconst N = (s) => (s ?? '').toString().normalize('NFC').trim().toUpperCase();\n\n// 1) Lấy dữ liệu từ DMS\nconst dmsSource = $node['Get Channel in MobiworkDMS'].json ?? [];\nconst dmsRaw = Array.isArray(dmsSource)\n  ? (dmsSource[0]?.data ?? [])\n  : (dmsSource.data ?? []);\n\n// 2) Lấy dữ liệu từ ERP\nconst erpRaw = Array.isArray($json) ? $json : [];\n\n// 3) Lấy danh sách mã kênh đã có trong ERP\nconst erpCodes = new Set(\n  erpRaw\n    .map(x => N(x.dms_sales_chanel_code)) // Dùng đúng field trong ERP\n    .filter(Boolean)\n);\n\n// 4) Chuẩn hóa dữ liệu từ DMS\nconst dms = dmsRaw\n  .map(x => ({\n    code: (x.ma ?? '').toString().trim(),\n    name: (x.ten ?? '').toString().trim(),\n    active: x.trang_thai !== false,\n    stt: x.stt ?? null,\n  }))\n  .filter(x => x.code && x.name);\n\n// 5) Chỉ giữ lại các record **chưa có trong ERP**\nconst toCreate = dms\n  .filter(x => !erpCodes.has(N(x.code)))\n  .map(x => ({\n    name: x.code,\n    item_group_name: x.name,\n    is_group: 0,\n    dms_code: x.code,\n    active: x.active,\n    stt: x.stt\n  }));\n\n// 6) Nếu không có gì để tạo -> trả về []\nreturn toCreate.length ? toCreate.map(item => ({ json: item })) : [];\n"
      },
      "name": "Check Data Existence",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -880,
        240
      ],
      "id": "4f8c04c0-3c15-4d5d-b677-726928bc2c23",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{ json: $json }];"
      },
      "name": "Preserve Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -656,
        80
      ],
      "id": "f57086f6-8e6e-403b-8134-2c3a58e206c3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "inner"
      },
      "name": "Merge Data Info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -432,
        144
      ],
      "id": "84f86986-3d01-42e9-af9e-21234612a4c6"
    },
    {
      "parameters": {
        "doctype": "MBWNext Integration Logs",
        "operation": "create",
        "parameters": "={\n\n  \"sync_type\": \"DMS Channel\",\n  \"records_processed\": \"{{ $items().length }}\",\n  \"status\": \"Đồng bộ dữ liệu DMS Channel thành công\",\n  \"log_message\": \"\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -208,
        144
      ],
      "id": "65b95e93-ac82-444a-9055-080eb07b4c5f",
      "name": "Write Logs To ERPNEXT",
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    },
    {
      "parameters": {
        "resource": "customerChannel",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -1312,
        240
      ],
      "id": "b3797598-c80f-43a9-b117-61b7cdc57f8e",
      "name": "Get Channel in MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "2SVxatk3bkSth64j",
          "name": "MBW DMS Cloud"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Channel",
        "fields": "channel,name"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1104,
        240
      ],
      "id": "0a13c86e-2a2c-4e5a-bd11-308566d6bf3b",
      "name": "DMS Sale Channel",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "IHHWnJsrVIrcNQJg",
          "name": "MBW DMS Cloud ERPNext"
        }
      }
    },
    {
      "parameters": {
        "doctype": "DMS Sales Chanel",
        "operation": "create",
        "parameters": "={\n  \"dms_sales_chanel_code\": \"{{ $json.dms_code }}\",\n  \"dms_sale_chanel_name\": \"{{ $json.name }}\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -432,
        352
      ],
      "id": "963f3b7f-310b-446e-b0f4-8c7c75374b08",
      "name": "Create Channel",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Sinh Thái ERPNext"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-29T04:15:30.543Z",
      "updatedAt": "2025-09-29T04:15:30.543Z",
      "role": "workflow:owner",
      "workflowId": "U90RaIXnEj9tpi5w",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-29T04:23:55.440Z",
  "versionId": "93b78e31-80d4-48be-865f-2a80d2757590"
}