sinhthaihcm/2025/09/wr9fuPikONQFOeaq.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MBWD ERPNext": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Lấy sản phẩm trong ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy sản phẩm trong ERPNext": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu có tồn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "[Update] Chuyển đổi dữ liệu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Add] Chuyển đổi dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu có tồn": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập nhật Sản Phẩm": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thêm mới Sản Phẩm": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Update] Chuyển đổi dữ liệu": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Add] Chuyển đổi dữ liệu": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Brand",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Item Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Item Group": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu Item Group tồn tại ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Brand": {
      "main": [
        [
          {
            "node": "Kiểm tra xem dữ liệu Brand tồn tại ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu Brand tồn tại ?": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra xem dữ liệu Item Group tồn tại ?": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Brand1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Brand": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Brand1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Cập nhật Sản Phẩm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Thêm mới Sản Phẩm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-09T09:01:48.567Z",
  "id": "wr9fuPikONQFOeaq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[ERPNext] Cập nhật dữ liệu Sản phẩm từ Queue sang Item",
  "nodes": [
    {
      "parameters": {},
      "id": "1f6f6a30-57e5-4fbc-b758-56b067d7adb0",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -2520,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "ef08135e-15c2-441d-948f-bcfc12fb55ca",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2520,
        280
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "fields": "reference_doctype,reference_name,operation,payload,name",
        "filters": {
          "filter": [
            {
              "field": "source_data",
              "value": "MBW DMS"
            },
            {
              "field": "status",
              "operator": "in",
              "value": "Pending"
            },
            {
              "field": "reference_doctype",
              "value": "Item"
            }
          ]
        }
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -2300,
        180
      ],
      "id": "40568f00-8e08-461d-96fe-c505daf0badc",
      "name": "MBWD ERPNext",
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Biến một mảng trong 1 item thành nhiều item riêng\nfunction safeParse(value) {\n  if (typeof value !== 'string') return value;\n  const s = value?.trim?.() ?? '';\n  if (!s || (s[0] !== '{' && s[0] !== '[')) return value;\n  try { return JSON.parse(s); } catch { return value; }\n}\n\nconst all = $input.all();\nlet records;\n\n// 1) Trường hợp API trả về mảng ngay ở root\nif (Array.isArray(all[0]?.json)) {\n  records = all[0].json;\n\n// 2) Hoặc gói trong thuộc tính data\n} else if (Array.isArray(all[0]?.json?.data)) {\n  records = all[0].json.data;\n\n// 3) Hoặc đã là nhiều item sẵn\n} else {\n  records = all.map(i => i.json);\n}\n\n// Nếu mỗi record có trường payload dạng string → parse sang object (không bắt buộc)\nreturn records.map(r => {\n  const parsed = ('payload' in r) ? safeParse(r.payload) : r.payload;\n  return { json: { ...r, payload: parsed } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        180
      ],
      "id": "4c7e5f5e-30a8-4f9d-88ba-de6641aa39ee",
      "name": "Split"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1860,
        180
      ],
      "id": "9c7b48b7-0686-4d7b-ab37-b033b96c8493",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -380,
        180
      ],
      "id": "17b84093-e058-4463-8254-5be07d217371",
      "name": "Wait",
      "webhookId": "50056d38-ba2b-453c-9cda-522d0db3e7c6"
    },
    {
      "parameters": {
        "doctype": "Item",
        "operation": "getById",
        "recordId": "={{ $json.reference_name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1640,
        100
      ],
      "id": "8523bada-8c66-46dc-918b-7af3226ed25b",
      "name": "Lấy sản phẩm trong ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        100
      ],
      "id": "abc902db-3d0c-4bb5-9363-f8137a5b46c1",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Lấy sản phẩm trong ERPNext'); \n\n// Kiểm tra xem item đầu tiên có field name không\nconst first = arr[0]?.json || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,   // true nếu có giá trị name\n    existed_name: first.name || null,\n    data: arr[0]?.json || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1420,
        100
      ],
      "id": "fb90bf63-007e-498e-991b-9e7965227abc",
      "name": "Kiểm tra xem dữ liệu có tồn"
    },
    {
      "parameters": {
        "doctype": "Item",
        "operation": "update",
        "parameters": "={\n  \"item_code\": \"{{ $('Split').item.json.payload.item_code }}\",\n  \"item_name\": \"{{ $('Split').item.json.payload.item_name }}\",\n  \"item_group\": \"Cozy 365 Trà Atiso\",\n  \"stock_uom\": \"{{ $('Split').item.json.payload.stock_uom }}\",\n  \"custom_item_billing_code\":\"{{ $('Split').item.json.payload.custom_item_billing_code }}\",\n  \"custom_item_billing_name\":\"{{ $('Split').item.json.payload.custom_item_billing_name }}\",\n  \"is_stock_item\": 1,\n  \"standard_rate\":  \"{{ $json.data.standard_rate }}\"\n}  ",
        "recordId": "={{ $json.data.name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -640,
        0
      ],
      "id": "70dd2091-0399-4b2e-b408-8153db7eeda1",
      "name": "Cập nhật Sản Phẩm",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Item",
        "operation": "create",
        "parameters": "={\n  \"item_code\": \"{{ $('Split').item.json.payload.item_code }}\",\n  \"item_name\": \"{{ $('Split').item.json.payload.item_name }}\",\n  \"item_group\": \"Cozy 365 Trà Atiso\",\n  \"stock_uom\": \"{{ $('Split').item.json.payload.stock_uom }}\",\n  \"custom_item_billing_code\": \"{{ $('Split').item.json.payload.custom_item_billing_code ? $('Split').item.json.payload.custom_item_billing_code : undefined }}\",\n  \"custom_item_billing_name\": \"{{ $('Split').item.json.payload.custom_item_billing_name ? $('Split').item.json.payload.custom_item_billing_name : undefined }}\",\n  \"is_stock_item\": 1,\n  \"standard_rate\": \"{{ $json.data.standard_rate && Number($json.data.standard_rate) > 0 ? $json.data.standard_rate : undefined }}\"\n}\n"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -560,
        200
      ],
      "id": "d7e19521-ce6d-49b0-8130-95c80fb2403b",
      "name": "Thêm mới Sản Phẩm",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        0
      ],
      "id": "c855f0d7-9cd9-4acc-96d9-69f1b0cbe9dc",
      "name": "[Update] Chuyển đổi dữ liệu"
    },
    {
      "parameters": {
        "jsCode": "const cur = $('Split').item.json;\n\n// payload chính\nconst p = cur.payload || {};\n\n// lấy item_group = phần tử cuối cùng của item_group_path\nlet itemGroup;\nif (Array.isArray(p.item_group_path) && p.item_group_path.length > 0) {\n  itemGroup = p.item_group_path[p.item_group_path.length - 1];\n}\n\n// tìm standard_rate trong prices (ưu tiên Retail Selling)\nlet standardRate;\nif (Array.isArray(p.prices)) {\n  const retail = p.prices.find(pr => pr.price_list === \"Retail Selling\");\n  if (retail && Number(retail.price_list_rate) > 0) {\n    standardRate = retail.price_list_rate;\n  } else {\n    // fallback: lấy giá đầu tiên nếu không có Retail Selling\n    const first = p.prices[0];\n    if (first && Number(first.price_list_rate) > 0) {\n      standardRate = first.price_list_rate;\n    }\n  }\n}\n\nconst out = {\n  item_code: p.item_code,\n  item_name: p.item_name,\n  item_group: itemGroup,\n  stock_uom: p.stock_uom,\n  brand: p.brand || undefined,\n  custom_item_billing_code: p.custom_item_billing_code || undefined,\n  custom_item_billing_name: p.custom_item_billing_name || undefined,\n  is_stock_item: 1,\n  standard_rate: standardRate,\n};\n\n// xoá field rỗng\nfor (const k of Object.keys(out)) {\n  const v = out[k];\n  if (v === null || v === undefined || (typeof v === 'string' && v.trim() === '')) {\n    delete out[k];\n  }\n}\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        200
      ],
      "id": "c57c9870-3220-44bd-afbb-a4d15470fe9a",
      "name": "[Add] Chuyển đổi dữ liệu"
    },
    {
      "parameters": {
        "content": "## Sub Workflow",
        "height": 732,
        "width": 2523,
        "color": 6
      },
      "id": "9af63c59-86ec-44cc-bb5c-5d4540d4584e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2560,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "47ac2db2-463b-4454-9955-e752cd565f1a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2340,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "doctype": "Item group",
        "operation": "getById",
        "recordId": "={{ $json.reference_name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -2060,
        800
      ],
      "id": "f0a9047d-017a-4bae-a287-65e762040c42",
      "name": "Check Item Group",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "doctype": "Brand",
        "operation": "getById",
        "recordId": "={{ $json.reference_name }}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -2060,
        580
      ],
      "id": "b1a91883-cc0f-4040-aa76-3505164c24e6",
      "name": "Check Brand",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Check Brand'); \n\n// Kiểm tra xem item đầu tiên có field name không\nconst first = arr[0]?.json || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,   // true nếu có giá trị name\n    existed_name: first.name || null,\n    data: arr[0]?.json || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1800,
        580
      ],
      "id": "1d3ec805-7eb0-4f3f-9563-c6c43d132351",
      "name": "Kiểm tra xem dữ liệu Brand tồn tại ?"
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Check Item Group'); \n\n// Kiểm tra xem item đầu tiên có field name không\nconst first = arr[0]?.json || {};\n\nreturn [{\n  json: {\n    exists: !!first.name,   // true nếu có giá trị name\n    existed_name: first.name || null,\n    data: arr[0]?.json || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1800,
        800
      ],
      "id": "dcd6f5f6-7d28-42db-95a4-eb0a79295482",
      "name": "Kiểm tra xem dữ liệu Item Group tồn tại ?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1580,
        580
      ],
      "id": "44f456c8-dd0d-4373-87ba-79afe9e9553a",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c56d2b-fe41-4163-bc63-f272cfcea78a",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1580,
        800
      ],
      "id": "1c91cf3f-759e-4f86-8f28-f6e8e5a40e10",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "doctype": "Brand",
        "operation": "create",
        "parameters": "={\"brand\":\"{{ $json['ten'] }}\"}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1300,
        600
      ],
      "id": "85819445-12b0-4c21-ab14-e2bbc8d3b6ff",
      "name": "Create Brand",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "07e86b29-741f-4003-bf81-3750a28764cb",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        -960,
        680
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "doctype": "Brand",
        "operation": "create",
        "parameters": "={\"brand\":\"{{ $json['ten'] }}\"}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        -1300,
        860
      ],
      "id": "844e60e3-51b7-4787-9159-c12aabcad997",
      "name": "Create Brand1",
      "alwaysOutputData": true,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$workflow.id}}",
          "cachedResultName": "={{$workflow.id}}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -800,
        0
      ],
      "id": "f3bb9119-0011-4b35-a7de-36c3aa60da14",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$workflow.id}}",
          "cachedResultName": "={{$workflow.id}}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -780,
        200
      ],
      "id": "06085d29-a3a3-4ec5-9169-e1c3731a094e",
      "name": "Execute Workflow1"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-09T09:01:48.567Z",
      "updatedAt": "2025-09-09T09:01:48.567Z",
      "role": "workflow:owner",
      "workflowId": "wr9fuPikONQFOeaq",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-03T07:48:49.315Z",
      "updatedAt": "2025-09-03T07:48:49.315Z",
      "id": "HmMyDMy8FTsYQkDm",
      "name": "ERPNext"
    },
    {
      "createdAt": "2025-09-09T08:58:23.942Z",
      "updatedAt": "2025-09-09T08:58:23.942Z",
      "id": "UusOo5b8CqNpNaGd",
      "name": "Background Job Queue"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-18T08:59:00.858Z",
  "versionId": "cd78d98d-4fd2-4c21-8643-2b373bee4d6a"
}