sinhthaihcm/2025/09/Y8wYDTsqQcAlJaFV.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Lấy Đơn Hàng từ MobiworkDMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MBWD ERPNext": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MBWD ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Đơn Hàng từ MobiworkDMS": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-22T10:11:16.551Z",
  "id": "Y8wYDTsqQcAlJaFV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[DMS] Đồng bộ dữ liệu đơn đặt hàng từ MBWDMS -> ERPNext",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        208
      ],
      "id": "c903ae62-6a41-4912-af60-3fe5ee994aed",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "doctype": "MBWNext Data Sync Queue",
        "operation": "create",
        "parameters": "={\n  \"reference_doctype\": \"Sale Order\",\n  \"reference_name\": \"{{ $json.reference_name }}\",\n  \"operation\": \"Create\",\n  \"retry_count\": 0,\n  \"status\": \"Pending\",\n  \"payload\": {{JSON.stringify($json.payload_str)}},\n  \"log_message\": \"Sale Order create from Sync MBW DMS\",\n  \"create_date\": \"\",\n  \"sync_time\": null,\n  \"source_data\": \"MBW DMS\"\n}"
      },
      "type": "CUSTOM.frappeCustom",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "0d58e325-1440-4075-93e8-24198c794538",
      "name": "MBWD ERPNext",
      "alwaysOutputData": false,
      "credentials": {
        "FrappeCustomApi": {
          "id": "q04ILlO0Tw9oAhAL",
          "name": "Frappe Custom Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === 1. Lấy tất cả dữ liệu từ node trước ===\n// \"items\" là mảng mặc định n8n truyền vào Code node\nlet allOrders = [];\n\n// Duyệt qua tất cả items từ node trước\nfor (const item of items) {\n  const data = item.json;\n\n  // Nếu data là array (nhiều đơn hàng), gộp vào allOrders\n  if (Array.isArray(data)) {\n    allOrders.push(...data);\n  } else {\n    // Nếu chỉ là 1 object, push trực tiếp\n    allOrders.push(data);\n  }\n}\n\nconsole.log('Total Orders:', allOrders.length);\nconsole.log('Sample Order:', JSON.stringify(allOrders[0], null, 2));\n\n// Nếu không có đơn hàng, return rỗng\nif (allOrders.length === 0) {\n  return [];\n}\n\n// === 2. Duyệt qua từng đơn hàng và chuẩn hóa dữ liệu ===\nreturn allOrders.map(order => {\n  const orderCode = (order.ma_phieu || \"\").trim();\n\n  // 2.1. Chuẩn hóa sản phẩm\n  const products = (order.san_pham || []).map(sp => ({\n    stt: sp.stt,\n    ma_sp: (sp.ma_sp || \"\").trim(),\n    ten_sp: (sp.ten_sp || \"\").trim(),\n    don_vi_tinh: (sp.ten_dvt || \"\").trim(),\n    kho_xuat: (sp.ma_kho_xuat || \"\").trim(),\n    so_luong: Number(sp.so_luong || 0),\n    don_gia: Number(sp.don_gia || 0),\n    thanh_tien: Number(sp.thanh_tien || 0),\n    chiet_khau: Number(sp.chiet_khau || 0),\n    vat: Number(sp.vat || 0),\n    ghi_chu: (sp.ghi_chu || \"\").trim(),\n    is_km: sp.is_km === true,\n    ctkm: (sp.ctkm || \"\").trim()\n  }));\n\n  // 2.2. Chuẩn hóa sản phẩm khuyến mãi\n  const promotions = (order.san_pham_km || []).map(km => ({\n    stt: km.stt_km,\n    ma_sp: (km.ma_sp_km || \"\").trim(),\n    ten_sp: (km.ten_sp_km || \"\").trim(),\n    don_vi_tinh: (km.ten_dvt_km || \"\").trim(),\n    kho_xuat: (km.ma_kho_xuat_km || \"\").trim(),\n    so_luong: Number(km.so_luong_km || 0),\n    is_km: km.is_km === true,\n    ctkm: (km.ctkm || \"\").trim()\n  }));\n\n  // 2.3. Tạo payload chuẩn\n  const payload = {\n    doctype: \"Sales Order\",\n    order_code: orderCode,\n    customer_code: (order.ma_kh || \"\").trim(),\n    customer_name: (order.ten_kh || \"\").trim(),\n    address: (order.dia_chi || \"\").trim(),\n    phone: (order.sdt || \"\").trim(),\n    order_date: order.ngay_dat || null,\n    group_code: (order.ma_nhom || \"\").trim(),\n    order_status: (order.trang_thai || \"\").trim(),\n\n    created_by: (order.nguoi_tao || \"\").trim(),\n    updated_by: (order.nguoi_sua || \"\").trim(),\n    created_at: order.ngay_tao || null,\n    updated_at: order.ngay_sua || null,\n\n    approved_by: (order.nguoi_duyet || \"\").trim(),\n    approved_at: order.ngay_duyet || null,\n\n    // Tổng tiền\n    total_amount: Number(order.tong_tien_hang || 0),\n    total_vat: Number(order.tong_tien_vat || 0),\n    total_discount_item: Number(order.tong_ck_sp || 0),\n    order_discount: Number(order.ck_don_hang || 0),\n    grand_total: Number(order.phai_thanh_toan || 0),\n\n    // Danh sách sản phẩm\n    products,\n    promotions\n  };\n\n  // === 3. Trả về format chuẩn cho n8n ===\n  return {\n    json: {\n      payload_str: JSON.stringify(payload),\n      reference_doctype: \"Sales Order\",\n      reference_name: orderCode,\n      operation: \"Create\",\n      retry_count: 0,\n      status: \"Pending\",\n      log_message: \"Auto-created for Sales Order operation\",\n      create_date: new Date().toISOString(),\n      sync_time: null,\n      source_data: \"MBW NEXT\"\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        208
      ],
      "id": "f084d39e-81cd-437d-8518-76a6645e3564",
      "name": "Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        208
      ],
      "id": "3d612b6b-50df-414b-bc65-69f2a06098e8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        288
      ],
      "id": "d17fd5c9-059e-4eae-b249-d3f60972801c",
      "name": "Wait",
      "webhookId": "48081062-bbaa-42a8-87c4-93c39bf021d5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yvQgnKcC1HprLg13",
          "mode": "list",
          "cachedResultName": "[ERPNext] Cập nhật dữ liệu Sản phẩm từ Queue sang Item"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ec0d7ec0-dfd7-4f7e-8279-86a5603ae2c8",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "resource": "order",
        "operation": "getOrders",
        "additionalFields": {}
      },
      "type": "CUSTOM.mbwdmsCustom",
      "typeVersion": 1,
      "position": [
        -656,
        208
      ],
      "id": "609fc54e-42e1-4fbf-8111-f72f70f534ab",
      "name": "Lấy Đơn Hàng từ MobiworkDMS",
      "credentials": {
        "MBWDMSCustomApi": {
          "id": "CL08GJJwCUpHDevr",
          "name": "MBW DMS Open APIs "
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "MBW-Digital",
  "repo_path": "sinhthaihcm/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-22T10:11:16.551Z",
      "updatedAt": "2025-09-22T10:11:16.551Z",
      "role": "workflow:owner",
      "workflowId": "Y8wYDTsqQcAlJaFV",
      "projectId": "NLp1g7OOFWKDmygg"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-09T08:58:51.547Z",
      "updatedAt": "2025-09-09T08:58:51.547Z",
      "id": "neaSaDNALEghkloE",
      "name": "MBW DMS"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-22T10:11:19.684Z",
  "versionId": "2684150c-61b5-4c94-9ffe-8d49a845a50a"
}